ion-content {
    ion-grid {
        margin-top: 20px;

        ion-icon {
            margin-left: 32px;
            font-size: 60pt;
        }

        h6 {
            font-size: 14pt;
            font-weight: bold;
            text-transform: uppercase;
            background: -webkit-linear-gradient(var(--ion-color-primary-tint), var(--ion-color-primary));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        p {
            font-size: 12pt;
        }
    }
}
