<ion-content mode="ios">

  <ion-grid class="ion-padding animated bounceInUp">

    <ion-row>

      <ion-col class="ion-text-center animated zoomIn delay-1s" size="12">

        <ion-icon src="../../../assets/icon/customer-service.svg"></ion-icon>

      </ion-col>

      <ion-col size="12">

        <h6 class="ion-text-center">Aguarde nosso contato!</h6>

        <p class="ion-text-justify">Seu cadastro foi realizado com sucesso, e em até 24h entraremos em contato através do telefone ou e-mail que você cadastrou.</p>

        <p class="ion-text-justify">O motivo para este contato é bem simples. Queremos te ajudar com algumas configurações iniciais, e a dar os primeiros passos em nossa plataforma.</p>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>