<ion-header mode="ios">

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-back-button text=""></ion-back-button>

    </ion-buttons>

    <ion-title>Entregadores</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content mode="ios">

  <ion-list>

    <ion-item lines="full">

      <ion-avatar>

        <img src="../../../assets/icon/avatar.svg">

      </ion-avatar>

      <ion-label>
        
        <h6>Lucas Moraes</h6>

        <p>lukaspgtu@hotmail.com</p>

        <p>(62) 98461-9997</p>
        
      </ion-label>

      <ion-button fill="clear">

        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>

      </ion-button>

    </ion-item>

    <ion-item lines="full">

      <ion-avatar>

        <img src="../../../assets/icon/avatar.svg">

      </ion-avatar>

      <ion-label>
        
        <h6>Lucas Moraes</h6>

        <p>lukaspgtu@hotmail.com</p>

        <p>(62) 98461-9997</p>
        
      </ion-label>

      <ion-button fill="clear">

        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>

      </ion-button>

    </ion-item>

    <ion-item lines="full">

      <ion-avatar>

        <img src="../../../assets/icon/avatar.svg">

      </ion-avatar>

      <ion-label>
        
        <h6>Lucas Moraes</h6>

        <p>lukaspgtu@hotmail.com</p>

        <p>(62) 98461-9997</p>
        
      </ion-label>

      <ion-button fill="clear">

        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>

      </ion-button>

    </ion-item>
    <ion-item lines="full">

      <ion-avatar>

        <img src="../../../assets/icon/avatar.svg">

      </ion-avatar>

      <ion-label>
        
        <h6>Lucas Moraes</h6>

        <p>lukaspgtu@hotmail.com</p>

        <p>(62) 98461-9997</p>
        
      </ion-label>

      <ion-button fill="clear">

        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>

      </ion-button>

    </ion-item>
    <ion-item lines="full">

      <ion-avatar>

        <img src="../../../assets/icon/avatar.svg">

      </ion-avatar>

      <ion-label>
        
        <h6>Lucas Moraes</h6>

        <p>lukaspgtu@hotmail.com</p>

        <p>(62) 98461-9997</p>
        
      </ion-label>

      <ion-button fill="clear">

        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>

      </ion-button>

    </ion-item>
    <ion-item lines="full">

      <ion-avatar>

        <img src="../../../assets/icon/avatar.svg">

      </ion-avatar>

      <ion-label>
        
        <h6>Lucas Moraes</h6>

        <p>lukaspgtu@hotmail.com</p>

        <p>(62) 98461-9997</p>
        
      </ion-label>

      <ion-button fill="clear">

        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>

      </ion-button>

    </ion-item>
    
    <ion-item lines="full">

      <ion-avatar>

        <img src="../../../assets/icon/avatar.svg">

      </ion-avatar>

      <ion-label>
        
        <h6>Lucas Moraes</h6>

        <p>lukaspgtu@hotmail.com</p>

        <p>(62) 98461-9997</p>
        
      </ion-label>

      <ion-button fill="clear">

        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>

      </ion-button>

    </ion-item>
    <ion-item lines="full">

      <ion-avatar>

        <img src="../../../assets/icon/avatar.svg">

      </ion-avatar>

      <ion-label>
        
        <h6>Lucas Moraes</h6>

        <p>lukaspgtu@hotmail.com</p>

        <p>(62) 98461-9997</p>
        
      </ion-label>

      <ion-button fill="clear">

        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>

      </ion-button>

    </ion-item>
    <ion-item lines="full">

      <ion-avatar>

        <img src="../../../assets/icon/avatar.svg">

      </ion-avatar>

      <ion-label>
        
        <h6>Lucas Moraes</h6>

        <p>lukaspgtu@hotmail.com</p>

        <p>(62) 98461-9997</p>
        
      </ion-label>

      <ion-button fill="clear">

        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>

      </ion-button>

    </ion-item>
    <ion-item lines="full">

      <ion-avatar>

        <img src="../../../assets/icon/avatar.svg">

      </ion-avatar>

      <ion-label>
        
        <h6>Lucas Moraes</h6>

        <p>lukaspgtu@hotmail.com</p>

        <p>(62) 98461-9997</p>
        
      </ion-label>

      <ion-button fill="clear">

        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>

      </ion-button>

    </ion-item>
    <ion-item lines="full">

      <ion-avatar>

        <img src="../../../assets/icon/avatar.svg">

      </ion-avatar>

      <ion-label>
        
        <h6>Lucas Moraes</h6>

        <p>lukaspgtu@hotmail.com</p>

        <p>(62) 98461-9997</p>
        
      </ion-label>

      <ion-button fill="clear">

        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>

      </ion-button>

    </ion-item>
    <ion-item lines="full">

      <ion-avatar>

        <img src="../../../assets/icon/avatar.svg">

      </ion-avatar>

      <ion-label>
        
        <h6>Lucas Moraes</h6>

        <p>lukaspgtu@hotmail.com</p>

        <p>(62) 98461-9997</p>
        
      </ion-label>

      <ion-button fill="clear">

        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>

      </ion-button>

    </ion-item>

  </ion-list>

</ion-content>

<ion-footer mode="ios">

  <ion-grid>

    <ion-row>

      <ion-col size="12">

        <ion-button expand="block">

          Adicionar Entregador

        </ion-button>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-footer>