ion-content {
    ion-item {
        --padding-start: 15px;
        --inner-padding-end: 15px;
    }

    ion-item:last-child {
        --border-width: 0;
    }

    ion-label {
        margin: 10px 0;
    }

    ion-avatar {
        margin-right: 15px;
    }

    h6 {
        font-size: 12pt;
        margin: 0;
    }

    p {
        font-size: 11pt;
        margin: 0;
    }
}
