<ion-header class="ion-no-border" mode="ios">

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-back-button text=""></ion-back-button>

    </ion-buttons>

    <ion-title>Localização</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content mode="ios">

  <ion-grid class="ion-padding animated bounceInUp">

    <ion-row>

      <ion-col class="ion-text-center animated zoomIn delay-1s" size="12">

        <ion-icon src="../../../assets/icon/map.svg"></ion-icon>

      </ion-col>

      <ion-col size="12">

        <p class="ion-text-justify">Informe a localização e o endereço de sua empresa.</p>

      </ion-col>

      <ion-col size="12">

        <ion-button expand="block" routerLink="/location">

          Localizar Empresa

        </ion-button>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>