ion-header {
  ion-title {
    ion-label {
      width: 40%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 400;

      h6 {
        font-size: 12pt;
      }

      p {
        font-size: 10pt;
      }
    }
  }
}

ion-content {
  .map {
    width: 100%;
    height: 100%;
  }

  ion-searchbar {
    position: absolute;
    --icon-color: var(--ion-color-primary);
    --background: #ffffff;
    --box-shadow: 0 2px 8px var(--ion-color-medium);
    z-index: 999999999999999999;
  }

  ion-list {
    position: absolute;
    top: 60px;
    left: var(--ion-padding);
    width: calc(100% - (2 * var(--ion-padding)));
    background: #ffffff;
    box-shadow: 0 0 10px var(--ion-color-medium);
    z-index: 999999999999999999;

    ion-item {
      p {
        color: var(--icon-color-dark);
        font-size: 10pt;
      }

      p:last-child {
        color: var(--ion-color-medium);
        font-size: 9pt;
      }
    }

    ion-item:last-child {
      --border-width: 0;
    }
  }

  img {
    position: absolute;
    width: 14%;
    bottom: 60px;
    right: 10px;
    border-radius: 50%;
    box-shadow: 0 3px 5px var(--ion-color-medium);
  }

  img:active {
    opacity: 0.8;
  }

  ion-button {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
