<ion-content mode="ios">

  <ion-grid class="ion-padding animated bounceInUp">

    <ion-row>

      <ion-col class="ion-text-center animated fadeIn delay-1s" size="12">

        <ion-icon src="../../../../assets/icon/settings.svg"></ion-icon>

      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size="12">

        <h4 class="ion-text-center">Configuração Inicial</h4>

        <p class="ion-text-justify">Sua empresa foi confirmada pela nossa equipe, e agora precisamos definir
          algumas configurações importantes para que você comece a usar nossos serviços.</p>

      </ion-col>

    </ion-row>

    <ion-row class="ion-margin-top">

      <ion-col size="12">

        <ion-button expand="block" routerLink="/photo">

          Iniciar Configuração

        </ion-button>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>