<ion-header mode="ios" class="ion-no-border">

  <ion-toolbar>

    <ion-buttons slot="end">

      <ion-button class="icon-close" (click)="dismiss()">

        <ion-icon class="icon-close" src="../../../../assets/icon/close.svg"></ion-icon>

      </ion-button>

    </ion-buttons>

    <ion-title>

      Endereço

    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding" mode="ios">

  <form [formGroup]="formGroupAddress">

    <ion-row>

      <ion-col size="12">

        <ion-label class="label-custom">Endereço</ion-label>

        <ion-input class="input-custom" formControlName="street_name" autocapitalize="words" max="255" disabled="true"></ion-input>

      </ion-col>

      <ion-col size="4">

        <ion-label class="label-custom">Número</ion-label>

        <ion-input class="input-custom" formControlName="street_number" max="20"></ion-input>

      </ion-col>

      <ion-col size="8">

        <ion-label class="label-custom">Complemento</ion-label>

        <ion-input class="input-custom" formControlName="complement" placeholder="Opcional" max="255"></ion-input>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">Bairro</ion-label>

        <ion-input class="input-custom" formControlName="district" autocapitalize="words" max="100"></ion-input>

      </ion-col>

      <ion-col size="9">

        <ion-label class="label-custom">Cidade</ion-label>

        <ion-input class="input-custom" formControlName="city" autocapitalize="words" max="100" disabled="true"></ion-input>

      </ion-col>

      <ion-col size="3">

        <ion-label class="label-custom">UF</ion-label>

        <ion-input class="input-custom" formControlName="uf" autocapitalize="words" max="100" disabled="true"></ion-input>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">CEP</ion-label>

        <ion-input class="input-custom" formControlName="zipcode" autocapitalize="words" max="100" disabled="true"></ion-input>

      </ion-col>

    </ion-row>

    <ion-row class="ion-padding-top">

      <ion-col size="12">

        <ion-button expand="block" (click)="is_update ? update() : save()">

          <ion-spinner name="crescent" *ngIf="spinner"></ion-spinner>

          <span *ngIf="!spinner">Salvar</span>

        </ion-button>

      </ion-col>

    </ion-row>

  </form>

</ion-content>