<ion-header class="ion-no-border" mode="ios">

  <ion-toolbar class="ion-margin-bottom">

    <ion-buttons slot="end">

      <ion-button class="close" (click)="dismiss()">

        <ion-icon src="../../../assets/icon/close.svg"></ion-icon>

      </ion-button>

    </ion-buttons>

    <ion-title>Buscar Pedido</ion-title>

  </ion-toolbar>

  <ion-toolbar class="animated fadeInDown">

    <ion-searchbar placeholder="Nº do produto ou cliente" [(ngModel)]="search" (search)="doSearch()"></ion-searchbar>

  </ion-toolbar>

</ion-header>

<ion-content mode="ios">

  <ion-list class="animated bounceInUp" *ngIf="results?.length > 0">

    <ion-item class="ion-margin-bottom header animated fadeIn delay-1s" lines="none" *ngIf="results?.length > 0">

      <ion-label>

        <h6 class="ion-text-center">Pedidos encontrados</h6>

      </ion-label>

    </ion-item>

    <ion-card button="true" *ngFor="let result of results">

      <ion-card-header (click)="details(result.id)">

        <ion-grid class="ion-no-padding">

          <ion-row>

            <ion-col class="ion-margin-bottom" size="12">

              <p class="sm">Realizado em</p>

              <h6>{{ result.created_at | date:'d MMM yyyy' }} às {{ result.created_at | date:'HH:mm' }}</h6>

            </ion-col>

            <ion-col size="12">

              <ion-item lines="none">

                <ion-thumbnail>

                  <img src="../../../assets/icon/order.svg">

                </ion-thumbnail>

                <ion-label class="ion-no-margin">

                  <h6>Pedido Nº {{ result.id | orderCode }}</h6>

                  <p>

                    <ion-icon name="ellipse"></ion-icon>

                    <span class="info">{{ result.user_name }} {{ result.user_surname }}</span>

                  </p>

                  <p>

                    <ion-icon name="ellipse"></ion-icon>

                    <span class="info" *ngIf="result.is_withdrawal_local">Retirar no local</span>

                    <span class="info"
                      *ngIf="!result.is_withdrawal_local">{{ distance(result.latitude, result.longitude) | distance }}</span>

                    <ion-icon name="ellipse"></ion-icon>

                    <span class="info">{{ result.delivery_forecast | date:'HH:mm' }}</span>

                  </p>

                </ion-label>

              </ion-item>

            </ion-col>

          </ion-row>

        </ion-grid>

      </ion-card-header>

      <ion-card-content *ngIf="result.status != 4">

        <ion-grid class="ion-no-padding">

          <ion-row>

            <ion-col size="6" *ngIf="result.status == 0">

              <ion-button size="small" expand="block" (click)="accept(result)">

                Aceitar

              </ion-button>

            </ion-col>

            <ion-col size="6" *ngIf="result.status == 0">

              <ion-button size="small" expand="block" color="danger" (click)="refuse(result)">

                Recusar

              </ion-button>

            </ion-col>

            <ion-col size="12" *ngIf="result.status == 1">

              <ion-button size="small" expand="block" (click)="release(result)">

                Liberar Entrega

              </ion-button>

            </ion-col>

            <ion-col size="12" *ngIf="result.status == 2">

              <ion-progress-bar class="ion-margin-bottom" type="indeterminate"></ion-progress-bar>

              <p>

                <ion-icon name="ellipse"></ion-icon>

                <span class="info" *ngIf="result.is_withdrawal_local">Aguardando Retirada</span>

                <span class="info" *ngIf="!result.is_withdrawal_local">Aguardando Entregador</span>

              </p>

            </ion-col>

            <ion-col size="12" *ngIf="result.status == 3">

              <ion-progress-bar class="ion-margin-bottom" type="indeterminate"></ion-progress-bar>

              <p>

                <ion-icon name="ellipse"></ion-icon>

                <span class="info">Em Entrega</span>

              </p>

            </ion-col>

          </ion-row>

        </ion-grid>

      </ion-card-content>

    </ion-card>

  </ion-list>

  <ion-grid class="no-orders animated fadeIn" *ngIf="results?.length == 0">

    <ion-row>

      <ion-col class="ion-text-center" size="12">

        <ion-icon class="order" src="../../../assets/icon/order.svg"></ion-icon>

        <p>Nenhuma pedido encontrado</p>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>

<ngx-loading [show]="loading"></ngx-loading>