ion-header {
    ion-searchbar {
        --icon-color: var(--ion-color-primary);
    }
}

ion-content {
    ion-item.header {
        --background: var(--ion-color-light-tint);
    }

    h6 {
        font-size: 12pt;
        line-height: 18pt;
        margin: 0;
    }

    p {
        font-size: 12pt;
        line-height: 17pt;
        margin: 0;
    }

    ion-card {
        margin-top: 10px !important;

        ion-item {
            --padding-start: 0;
            --inner-padding-end: 0;
        }

        ion-thumbnail {
            margin-right: 15px;
        }

        p.sm {
            font-size: 10pt;
            line-height: 11pt;
        }

        ion-button {
            font-size: 17px;
            font-weight: 400;
        }

        span.info {
            margin-right: 8px;
        }

        ion-icon[name="ellipse"] {
            font-size: 6pt;
            margin-right: 8px;
            color: var(--ion-color-primary);
            margin-bottom: 1.25px;
        }
    }

    ion-grid.no-orders {
        height: 100%;

        ion-row {
            position: absolute;
            top: calc(50% - 20px);
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;

            ion-icon {
                font-size: 50pt;
            }

            p {
                font-size: 11pt;
            }
        }
    }
}
