<ion-header class="ion-no-border" mode="ios">

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-back-button text=""></ion-back-button>

    </ion-buttons>

    <ion-title>Pagamentos</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content mode="ios">

  <ion-list class="animated bounceInUp">

    <div class="ion-text-center animated fadeIn delay-1s">

      <ion-icon src="../../../assets/icon/payment-methods.svg"></ion-icon>

    </div>

    <ion-item lines="full">

      <p class="ion-padding-end ion-text-justify">Selecione os métodos de pagamento aceitos por sua empresa.</p>

    </ion-item>

    <ion-item lines="full" *ngFor="let p of payment_methods">

      <img slot="start" [src]="p.icon">

      <ion-label>{{ p.name }}</ion-label>

      <ion-checkbox slot="end" color="primary" [value]="p.id" (ionChange)="change($event)"></ion-checkbox>

    </ion-item>

  </ion-list>

  <ion-grid class="ion-padding">

    <ion-row>

      <ion-col size="12">

        <ion-button expand="block" (click)="finish()">

          Finalizar

        </ion-button>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>