<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-menu-button></ion-menu-button>

    </ion-buttons>

    <ion-title>Atendentes</ion-title>

    <ion-buttons slot="end">

      <app-choose-company></app-choose-company>

    </ion-buttons>

  </ion-toolbar>

  <ion-toolbar class="animate__animated animate__fadeIn search" *ngIf="attendants?.length > 0">

    <ion-searchbar placeholder="Buscar atendente" (ionFocus)="modalSearch()"></ion-searchbar>

  </ion-toolbar>

</ion-header>

<ion-content color="light" customScroll>

  <ion-grid *ngIf="attendants?.length > 0">

    <ion-row>

      <ion-col size-xs="12" size-sm="6" size-md="4" size-xl="3" *ngFor="let attendant of attendants">

        <ion-card class="animate__animated animate__fadeIn ion-text-center" button="true" (click)="options(attendant)">

          <ion-card-header>

            <ion-badge color="success" *ngIf="attendant.status == true">Ativo</ion-badge>

            <ion-badge color="danger" *ngIf="attendant.status == false">Inativo</ion-badge>

            <ion-thumbnail>

              <img [src]="attendant.image ? attendant.image : '../../../assets/image/avatar.png'">
  
            </ion-thumbnail>

          </ion-card-header>

          <ion-card-content>

            <ion-card-title>{{ attendant.name }}</ion-card-title>

          </ion-card-content>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-note class="note-center animate__animated animate__fadeIn" *ngIf="attendants?.length == 0">

    <ion-icon src="../../../../assets/icon/attendant.svg"></ion-icon>

    <p>Nenhum atendente cadastrado</p>

  </ion-note>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">

    <ion-fab-button (click)="modalAttendant()">

      <ion-icon name="add-outline"></ion-icon>

    </ion-fab-button>

  </ion-fab>

</ion-content>