<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-menu-button></ion-menu-button>

    </ion-buttons>

    <ion-title>Segmentos</ion-title>

    <ion-buttons slot="end">

      <app-choose-company></app-choose-company>

    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content color="light" customScroll>

  <ion-grid *ngIf="segments?.length > 0">

    <ion-row>

      <ion-col size="12">

        <ion-reorder-group (ionItemReorder)="doReorder($event)" [disabled]="!reorder">

          <ion-reorder *ngFor="let segment of segments">

            <ion-card class="animate__animated animate__fadeIn" lines="full" detail="true" button="true" (click)="options(segment)">

              <ion-card-content>

                <ion-label color="dark">{{ segment.name }}</ion-label>

              </ion-card-content>

            </ion-card>

          </ion-reorder>

        </ion-reorder-group>

      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-note class="note-center animate__animated animate__fadeIn" *ngIf="segments?.length == 0">

    <ion-icon name="grid-outline"></ion-icon>

    <p>Nenhum segmento cadastrado</p>

  </ion-note>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!reorder">

    <ion-fab-button (click)="modalSegment()">

      <ion-icon name="add-outline"></ion-icon>

    </ion-fab-button>

  </ion-fab>

</ion-content>

<ion-footer class="animate__animated animate__fadeIn" *ngIf="reorder">

  <ion-button expand="full" (click)="save()">Salvar Ordem</ion-button>

</ion-footer>