<ion-header class="ion-no-border" mode="ios">

  <ion-toolbar class="ion-margin-bottom">

    <ion-buttons slot="end">

      <ion-button class="close" (click)="dismiss()">

        <ion-icon src="../../../assets/icon/close.svg"></ion-icon>

      </ion-button>

    </ion-buttons>

    <ion-title>Buscar Produto</ion-title>

  </ion-toolbar>

  <ion-toolbar class="animated fadeInDown">

    <ion-searchbar placeholder="Nome do produto" [(ngModel)]="search" (search)="doSearch()"></ion-searchbar>

  </ion-toolbar>

</ion-header>

<ion-content mode="ios">

  <ion-list class="ion-no-margin" *ngIf="results?.length > 0">

    <ion-item class="header animated fadeIn delay-1s" lines="none">

      <ion-label>

        <h6 class="ion-text-center">Produtos encontrados</h6>

      </ion-label>

    </ion-item>

    <ion-item-sliding class="animated bounceInUp" *ngFor="let result of results">

      <ion-item lines="full" button="true" detail="false" (click)="details(result.id)">

        <ion-thumbnail [ngClass]="{ 'paused': result.status == 0 }" slot="start">

          <ion-badge color="secondary">Pausado</ion-badge>

          <img [src]="result.photo">

        </ion-thumbnail>

        <ion-label class="ion-no-margin">

          <h6>{{ result.name }}</h6>

          <p>{{ result.description }}</p>

          <p class="price">{{ result.price | money }}</p>

        </ion-label>

      </ion-item>

      <ion-item-options side="end">

        <ion-item-option color="light" (click)="updateStatus(result)">

          <ion-icon slot="top" name="pause" *ngIf="result.status == 1"></ion-icon>

          <ion-icon slot="top" name="play" *ngIf="result.status == 0"></ion-icon>

          <span *ngIf="result.status == 1">Pausar</span>

          <span *ngIf="result.status == 0">Ativar</span>

        </ion-item-option>

        <ion-item-option color="danger" (click)="remove(result.id)">

          <ion-icon slot="top" name="trash-outline"></ion-icon>

          Excluir

        </ion-item-option>

      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

  <ion-grid class="no-products animated fadeIn" *ngIf="results?.length == 0">

    <ion-row>

      <ion-col class="ion-text-center" size="12">

        <ion-icon class="order" src="../../../assets/icon/product.svg"></ion-icon>

        <p>Nenhum produto encontrado</p>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>

<ngx-loading [show]="loading"></ngx-loading>