<ion-header mode="ios">

  <ion-toolbar>

    <ion-buttons>

      <ion-back-button text=""></ion-back-button>

    </ion-buttons>

    <ion-title>Notificações</ion-title>

  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-list>

    <ion-item lines="full" button="true" detail="false">

      <ion-avatar slot="start">

        <img src="../../../assets/images/bell.png">

      </ion-avatar>

      <p>Um pedido está aguardando sua aprovação</p>

      <p>Agora</p>

    </ion-item>

    <ion-item lines="full" button="true" detail="false">

      <ion-avatar slot="start">

        <img src="../../../assets/images/bell.png">

      </ion-avatar>

      <p>Um pedido está aguardando sua aprovação</p>

      <p>Hoje 01:10</p>

    </ion-item>

    <ion-item lines="full" button="true" detail="false">

      <ion-avatar slot="start">

        <img src="../../../assets/images/bell.png">

      </ion-avatar>

      <p>Um pedido está aguardando sua aprovação</p>

      <p>Ontem 01:11</p>

    </ion-item>

  </ion-list>

</ion-content>