<ion-content mode="ios">

  <ion-grid class="ion-padding">

    <ion-row>

      <ion-col class="ion-text-center" size="12">

        <img class="animated bounceInDown" src="../../../assets/images/welcome.png" width="90%">

      </ion-col>

      <ion-col class="animated zoomIn" size="12">

        <h4>Seja Bem-Vindo</h4>

        <p>O que deseja fazer?</p>

      </ion-col>

      <ion-col class="animated bounceInUp" size="12">

        <ion-button expand="block" (click)="signin()" color="primary">Entrar</ion-button>

      </ion-col>

      <ion-col class="animated bounceInUp" size="12">

        <ion-button expand="block" fill="outline" (click)="signup()">Cadastrar</ion-button>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>