<ion-header mode="ios">

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-back-button text=""></ion-back-button>

    </ion-buttons>

    <ion-title>Configurações</ion-title>

  </ion-toolbar>

  <ion-toolbar mode="md">

    <ion-segment value="profile" (ionChange)="segmentChanged($event)">

      <ion-segment-button class="animated bounceInRight" value="profile">

        <ion-label>Perfil</ion-label>

      </ion-segment-button>

      <ion-segment-button class="animated bounceInRight" value="delivery">

        <ion-label>Delivery</ion-label>

      </ion-segment-button>

      <ion-segment-button class="animated bounceInRight" value="payment_methods">

        <ion-label>Pagamento</ion-label>

      </ion-segment-button>

    </ion-segment>

  </ion-toolbar>

</ion-header>

<ion-content mode="ios">

  <ion-grid class="ion-padding animated bounceInUp" *ngIf="segment == 'profile'" [formGroup]="formGroupProfile">

    <ion-row>

      <ion-col class="ion-text-center" size="12">

        <ion-thumbnail (click)="choosePhoto()">

          <img [src]="company.photo">

        </ion-thumbnail>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">Categoria</ion-label>

        <ion-input type="text" class="input-custom" [value]="category?.name" disabled="true"></ion-input>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">E-mail</ion-label>

        <ion-input type="text" class="input-custom" [value]="company.email" disabled="true"></ion-input>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">Nome</ion-label>

        <ion-input type="text" class="input-custom" formControlName="name" autocapitalize="on"></ion-input>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">Telefone</ion-label>

        <ion-input type="text" class="input-custom" inputmode="tel" formControlName="phone"
          [brmasker]="{ phone: true }"></ion-input>

      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-grid class="ion-padding animated bounceInUp" *ngIf="segment == 'delivery'" [formGroup]="formGroupDelivery">

    <ion-row>

      <ion-col size="12">

        <ion-label class="label-custom">Pedido mínimo</ion-label>

        <ion-input type="text" class="input-custom" inputmode="numeric" formControlName="min_value"
          [brmasker]="{ money: true, thousand: '.',  decimalCaracter: ',' }"></ion-input>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">Valor da entrega</ion-label>

        <ion-input type="text" class="input-custom" inputmode="numeric" formControlName="delivery_price"
          [brmasker]="{ money: true, thousand: '.',  decimalCaracter: ',' }"></ion-input>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">Tempo de espera</ion-label>

        <ion-input type="text" class="input-custom" inputmode="numeric" maxLength="3" formControlName="waiting_time">

          <span class="sufix">minutos</span>

        </ion-input>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">Raio de alcance:</ion-label>

        <ion-label class="label-custom">{{ formGroupDelivery.value.range }} km</ion-label>

        <ion-range color="primary" min="1" max="30" formControlName="range"></ion-range>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">Entregadores</ion-label>

        <ion-select class="select-custom" interface="action-sheet" okText="Confirmar" cancelText="Cancelar"
          formControlName="accept_outsourced_delivery" mode="md">

          <ion-select-option [value]="0">Tenho meus entregadores</ion-select-option>

          <ion-select-option [value]="1">Preciso de entregadores</ion-select-option>

        </ion-select>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">Retirada no local</ion-label>

        <ion-select class="select-custom" interface="action-sheet" okText="Confirmar" cancelText="Cancelar"
          formControlName="accept_withdrawal_local" mode="md">

          <ion-select-option [value]="0">Não permitir</ion-select-option>

          <ion-select-option [value]="1">Permitir</ion-select-option>

        </ion-select>

      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-list class="animated bounceInUp" *ngIf="segment == 'payment_methods'" [formGroup]="formGroupPayment">

    <ion-item class="header" lines="full">

      <ion-label>

        <h6 class="ion-text-wrap">Permitir pagamentos online</h6>

      </ion-label>

      <ion-checkbox slot="end" formControlName="accept_payment_app"></ion-checkbox>

    </ion-item>

    <ion-item class="header" lines="none">

      <ion-label>

        <h6 class="ion-text-wrap">Permitir pagamentos na entrega</h6>

      </ion-label>

      <ion-checkbox slot="end" formControlName="accept_payment_delivery"></ion-checkbox>

    </ion-item>

    <ion-item lines="full" class="animated bounceInDown" [hidden]="formGroupPayment.value.accept_payment_delivery == 0">

      <ion-label>

        <p class="ion-text-wrap ion-text-justify">Selecione os métodos disponíveis para pagamentos na entrega</p>

      </ion-label>

    </ion-item>

    <ion-item class="animated bounceInDown" lines="full" *ngFor="let method of payment_methods"
      [hidden]="formGroupPayment.value.accept_payment_delivery == 0">

      <img [src]="method.icon">

      <ion-label>

        <p class="ion-text-wrap">{{ method.name }}</p>

      </ion-label>

      <ion-checkbox slot="end" [value]="method.id" [checked]="isChecked(method.id)"
        (ionChange)="paymentMethodsChanged($event)"></ion-checkbox>

    </ion-item>

  </ion-list>

</ion-content>

<ion-footer mode="ios">

  <ion-grid class="ion-padding">

    <ion-row>

      <ion-col size="12">

        <ion-button class="animated fadeIn" expand="block" *ngIf="segment == 'profile'" [disabled]="formGroupProfile.invalid"
        [color]="formGroupProfile.valid ? 'primary' : 'light'" (click)="updateProfile()">

          Salvar

        </ion-button>

        <ion-button class="animated fadeIn" expand="block" *ngIf="segment == 'delivery'" [disabled]="formGroupDelivery.invalid"
        [color]="formGroupDelivery.valid ? 'primary' : 'light'" (click)="updateDelivery()">

          Salvar

        </ion-button>

        <ion-button class="animated fadeIn" expand="block" *ngIf="segment == 'payment_methods'" [disabled]="formGroupPayment.invalid"
          [color]="formGroupPayment.valid ? 'primary' : 'light'" (click)="updatePayment()">

          Salvar

        </ion-button>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-footer>