ion-content {
    ion-card {
        margin: 0;

        h6 {
            font-size: 1rem;
        }

        p {
            font-size: 0.9rem;
            color: var(--ion-color-medium);
        }
    }
}