ion-content {
    ion-label,
    h6,
    p {
        font-size: 12pt;
    }

    p.input-custom {
        border-radius: 10px;
        font-size: 16px;
        padding: 15px;
        line-height: 16px;
        height: 46px;
        margin-top: -1px;
        border: 1px solid var(--ion-color-medium-tint);
    }

    p.input-custom:active {
        border-color: var(--ion-color-primary);
    }

    ion-thumbnail {
        --border-radius: 5px;
        --size: 100%;
        background: #fff;
        margin-top: 20px;

        img {
            background: #fff;
            object-fit: cover;
            height: 200px;
        }
    }

    ion-checkbox {
        margin: 0;
    }

    ion-col.header {
        text-align: center;
        background: var(--ion-color-light-tint);

        h6 {
            margin: 15px;
        }
    }

    ion-datetime {
        padding: 2px;
    }

    ion-item {
        --padding-start: 15px;
        --inner-padding-end: 15px;
    }

    ion-item.header {
        --background: var(--ion-color-light-tint);
    }

    ion-item.rebate {
        --padding-start: 5px;
        --background-activated: none;
    }

    ion-grid.complements {
        margin-bottom: 76px;
    }

    ion-card.warning {
        p {
            font-size: 11pt;
            color: var(--ion-color-dark);
        }

        ion-icon[name="alert-circle"] {
            color: var(--ion-color-primary);
            font-size: 28pt;
        }

        ion-icon[name="ellipse"] {
            color: var(--ion-color-primary);
            font-size: 7pt;
        }
    }

    ion-grid.no-complements {
        height: 100%;

        ion-row {
            position: absolute;
            top: calc(50% - 33.5px);
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;

            ion-icon {
                font-size: 50pt;
            }

            p {
                font-size: 11pt;
            }
        }
    }
}
