<ion-header mode="ios">

  <ion-toolbar>

    <ion-title>Detalhes</ion-title>

    <ion-buttons slot="end">

      <ion-button class="close" (click)="dismiss()">

        <ion-icon src="../../../assets/icon/close.svg"></ion-icon>

      </ion-button>

    </ion-buttons>

  </ion-toolbar>

  <ion-toolbar mode="md">

    <ion-segment scrollable value="info">

      <ion-segment-button class="animated bounceInRight" id="segment-info" value="info" (click)="changeSegment('info')">

        <ion-label>Informações Gerais</ion-label>

      </ion-segment-button>

      <ion-segment-button class="animated bounceInRight" id="segment-complements" value="complements"
        (click)="changeSegment('complements')">

        <ion-label>Complementos</ion-label>

      </ion-segment-button>

      <ion-segment-button class="animated bounceInRight" id="segment-promotion" value="promotion"
        (click)="changeSegment('promotion')">

        <ion-label>Promoção</ion-label>

      </ion-segment-button>

    </ion-segment>

  </ion-toolbar>

</ion-header>

<ion-content mode="ios" [scrollEvents]="true">

  <ion-grid class="ion-padding animated bounceInUp" [formGroup]="formGroupProduct" *ngIf="segment == 'info'">

    <ion-row>

      <ion-col size="12">

        <ion-thumbnail *ngIf="photo" (click)="choosePhoto()">

          <img [src]="photo">

        </ion-thumbnail>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">Sessão</ion-label>

        <p class="input-custom" (click)="selectSession()">{{ session.name }}</p>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">Nome</ion-label>

        <ion-input class="input-custom" type="text" formControlName="name" placeholder="Escreva o nome do produto"
          autocapitalize="on"></ion-input>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">Descrição</ion-label>

        <ion-textarea class="input-custom" formControlName="description" rows="4" placeholder="Descreva o produto">
        </ion-textarea>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">Categoria</ion-label>

        <ion-select class="select-custom" formControlName="subcategory_id"
          placeholder="Selecione a categoria do produto" mode="md" interface="action-sheet" cancelText="Cancelar">

          <ion-select-option [value]="s.id" *ngFor="let s of subcategories">{{ s.name }}</ion-select-option>

        </ion-select>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">Preço</ion-label>

        <ion-input class="input-custom" type="text" inputmode="numeric" formControlName="price"
          [brmasker]="{ money: true, thousand: '.',  decimalCaracter: ',' }"></ion-input>

      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-grid class="ion-no-padding animated bounceInUp" [formGroup]="formGroupProduct" *ngIf="segment == 'info'">

    <ion-row>

      <ion-col class="header" size="12">

        <p>Dias disponíveis:</p>

      </ion-col>

      <ion-col class="ion-no-padding" size="12">

        <ion-radio-group>

          <ion-item lines="full">

            <ion-label>Domingo</ion-label>

            <ion-checkbox color="primary" formControlName="is_available_sunday"></ion-checkbox>

          </ion-item>

          <ion-item lines="full">

            <ion-label>Segunda</ion-label>

            <ion-checkbox color="primary" formControlName="is_available_monday"></ion-checkbox>

          </ion-item>

          <ion-item lines="full">

            <ion-label>Terça</ion-label>

            <ion-checkbox color="primary" formControlName="is_available_tuesday"></ion-checkbox>

          </ion-item>

          <ion-item lines="full">

            <ion-label>Quarta</ion-label>

            <ion-checkbox color="primary" formControlName="is_available_wednesday"></ion-checkbox>

          </ion-item>

          <ion-item lines="full">

            <ion-label>Quinta</ion-label>

            <ion-checkbox color="primary" formControlName="is_available_thursday"></ion-checkbox>

          </ion-item>

          <ion-item lines="full">

            <ion-label>Sexta</ion-label>

            <ion-checkbox color="primary" formControlName="is_available_friday"></ion-checkbox>

          </ion-item>

          <ion-item lines="none">

            <ion-label>Sábado</ion-label>

            <ion-checkbox color="primary" formControlName="is_available_saturday"></ion-checkbox>

          </ion-item>

        </ion-radio-group>

      </ion-col>

      <ion-col class="header" size="12">

        <p>Horários disponíveis:</p>

      </ion-col>

      <ion-col size="12">

        <ion-item lines="full">

          <ion-label>Enquanto estiver aberto</ion-label>

          <ion-checkbox color="primary" (ionChange)="changeAlwaysAvailable($event)" [checked]="isAlwaysAvailable">
          </ion-checkbox>

        </ion-item>

        <ion-item class="animated fadeIn" lines="full" [hidden]="isAlwaysAvailable">

          <ion-label>À partir de</ion-label>

          <ion-datetime formControlName="start_time" displayFormat="HH:mm" cancelText="Voltar" doneText="Confirmar">
          </ion-datetime>

        </ion-item>

        <ion-item class="animated fadeIn" lines="full" [hidden]="isAlwaysAvailable">

          <ion-label>Até</ion-label>

          <ion-datetime formControlName="end_time" displayFormat="HH:mm" cancelText="Voltar" doneText="Confirmar">
          </ion-datetime>

        </ion-item>

      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-grid class="ion-no-padding animated bounceInUp complements"
    *ngIf="segment == 'complements' && product.complements?.length > 0">

    <ion-row>

      <ion-col size="12">

        <ion-list *ngFor="let c of product.complements">

          <ion-item class="header" lines="none">

            <ion-label>

              <h6>{{ c.title }}</h6>

              <p>{{ c.qty_min }} até {{ c.qty_max }} escolhas</p>

            </ion-label>

            <ion-button fill="clear" (click)="optionsComplement(c, $event)">

              <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>

            </ion-button>

          </ion-item>

          <ion-item-sliding *ngFor="let s of c.subcomplements">

            <ion-item lines="full" button="true" detail="false" (click)="changeSubcomplement(s)">

              <ion-label>

                <h6>{{ s.description }}</h6>

                <p>{{ s.price | money }}</p>

              </ion-label>

            </ion-item>

            <ion-item-options side="end">

              <ion-item-option color="danger" (click)="deleteSubcomplement(s)">

                <ion-icon slot="top" name="trash-outline"></ion-icon>

                Excluir

              </ion-item-option>

            </ion-item-options>

          </ion-item-sliding>

        </ion-list>

      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-grid class="no-complements" *ngIf="segment == 'complements' && product.complements?.length == 0">

    <ion-row>

      <ion-col class="ion-text-center" size="12">

        <ion-icon src="../../../../assets/icon/complements.svg"></ion-icon>

        <p>Nenhum complemento cadastrado</p>

      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-grid class="ion-padding animated bounceInUp" [formGroup]="formGroupPromotion" *ngIf="segment == 'promotion'">

    <ion-row>

      <ion-col size="12">

        <ion-card class="warning ion-no-margin">

          <ion-card-header class="ion-text-center">

            <ion-icon name="alert-circle"></ion-icon>

          </ion-card-header>

          <ion-card-content class="ion-text-justify">

            <ion-grid class="ion-no-padding ion-margin-end">

              <ion-row>

                <ion-col class="ion-no-padding" size="1">

                  <ion-icon name="ellipse"></ion-icon>

                </ion-col>

                <ion-col class="ion-no-padding" size="11">

                  <p>O valor de desconto deve ser no mínimo 10% do valor do produto.</p>

                </ion-col>

              </ion-row>

              <ion-row class="ion-margin-top">

                <ion-col class="ion-no-padding" size="1">

                  <ion-icon name="ellipse"></ion-icon>

                </ion-col>

                <ion-col class="ion-no-padding" size="11">

                  <p>O valor de desconto deve ser no mínimo R$ 2,00.</p>

                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-content>

        </ion-card>

      </ion-col>

      <ion-col class="ion-margin-top" size="12">

        <ion-item class="rebate animated fadeIn" lines="none">

          <ion-checkbox mode="md" color="primary" [checked]="!has_promotion" (ionChange)="checkPromotion($event)">
          </ion-checkbox>

          <ion-label class="ion-padding-start">Produto sem desconto</ion-label>

        </ion-item>

      </ion-col>

      <ion-col size="12" class="animated fadeIn" *ngIf="has_promotion">

        <ion-label class="label-custom">Valor de desconto</ion-label>

        <ion-input class="input-custom" type="text" inputmode="numeric" formControlName="rebate"
          [brmasker]="{ money: true, thousand: '.',  decimalCaracter: ',' }">
        </ion-input>

      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-fab class="animated bounceInUp" mode="md" vertical="bottom" horizontal="end" slot="fixed"
    *ngIf="segment == 'complements'">

    <ion-fab-button (click)="addComplement()">

      <ion-icon name="add"></ion-icon>

    </ion-fab-button>

  </ion-fab>

</ion-content>

<ion-footer mode="ios" *ngIf="segment == 'info' || segment == 'promotion'">

  <ion-grid class="ion-padding">

    <ion-row>

      <ion-col size="12" *ngIf="segment == 'info'">

        <ion-button expand="block" (click)="update()" [disabled]="formGroupProduct.invalid"
          [color]="formGroupProduct.valid ? 'primary' : 'light'">

          Atualizar

        </ion-button>

      </ion-col>

      <ion-col *ngIf="segment == 'promotion'">

        <ion-button expand="block" (click)="updatePromotion()" [disabled]="formGroupPromotion.invalid"
          [color]="formGroupPromotion.valid ? 'primary' : 'light'">

          Atualizar

        </ion-button>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-footer>

<ngx-loading [show]="loading"></ngx-loading>