ion-header {
    ion-datetime {
        height: 36px !important;
        padding: 5px;
        text-align: center;
        border-radius: 20px !important;
    }
}

ion-content {
    ion-icon.extract {
        font-size: 50px;
        margin: auto 10px;
    }

    ion-note {
        span:last-child {
            display: block;
            font-size: 12pt;
        }
    }
}
