<ion-header mode="ios">

  <ion-toolbar>

    <ion-buttons slot="end">

      <ion-button color="dark" (click)="datetime = datetime == true ? false : true;">

        <ion-icon slot="icon-only" name="search-outline"></ion-icon>

      </ion-button>

    </ion-buttons>

    <ion-title>Extrato</ion-title>

  </ion-toolbar>

  <ion-toolbar class="animated fadeIn" *ngIf="datetime">

    <ion-datetime class="datetime-custom" placeholder="Buscar por data" display-timezone="utc"></ion-datetime>

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list>

    <ion-item class="ion-no-padding" lines="full" button="true" detail="false">

      <ion-icon class="extract" src="../../../assets/icon/extract.svg"></ion-icon>

      <ion-label>

        <h2>Pedido #0001</h2>

        <ion-text color="success">

          <h4>R$ 10,00</h4>

        </ion-text>

      </ion-label>

      <ion-note class="ion-text-center" slot="end">

        <span>23 MAR</span>

        <span>2020</span>

      </ion-note>

    </ion-item>

    <ion-item class="ion-no-padding" lines="full" button="true" detail="false">

      <ion-icon class="extract" src="../../../assets/icon/withdrawal.svg"></ion-icon>

      <ion-label>

        <h2>Retirada</h2>

        <ion-text color="danger">

          <h4>R$ 10,00</h4>

        </ion-text>

      </ion-label>

      <ion-note class="ion-text-center" slot="end">

        <span>23 MAR</span>

        <span>2020</span>

      </ion-note>

    </ion-item>

  </ion-list>

</ion-content>