<ion-content customScroll>

  <ion-thumbnail>

    <img [src]="product?.image">

  </ion-thumbnail>

  <ion-fab vertical="top" horizontal="end" slot="fixed">

    <ion-fab-button mode="md" size="small" color="light" (click)="dismiss()">

      <ion-icon name="close-outline"></ion-icon>

    </ion-fab-button>

  </ion-fab>

  <ion-list>

    <ion-item lines="none">

      <ion-label class="ion-text-wrap">

        <h5>{{ product?.name }}</h5>

        <p>{{ product?.description }}</p>

        <h6>{{ product?.price | money }}</h6>

      </ion-label>

    </ion-item>

  </ion-list>

  <ion-grid class="ion-padding-horizontal">

    <ion-row>

      <ion-col class="ion-no-padding" size="12">

        <ion-label class="stacked">Algum comentário?</ion-label>

        <ion-textarea placeholder="Ex: Adicionar ou retirar algo" maxlength="200" [(ngModel)]="note"></ion-textarea>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer class="ion-no-border">

  <ion-grid class="ion-padding">

    <ion-row>

      <ion-col size-xs="6" size-sm="4">

        <app-quantity min="1" [value]="qty" (changeQty)="changeQty($event)"></app-quantity>

      </ion-col>

      <ion-col size-xs="6" size-sm="8">

        <ion-button expand="block" (click)="add()" *ngIf="index === undefined">Adicionar</ion-button>

        <ion-button expand="block" (click)="update()" *ngIf="index !== undefined">Atualizar</ion-button>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-footer>