ion-content {
    ion-list {
        background: transparent;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        ion-card {
            margin: 0 5px;
            max-width: 600px;
            max-height: calc(100% - 10px);
            overflow-y: auto;
        }

        ion-card-title {
            font-size: 20px;
            text-align: center;
            margin-bottom: 10px;
        }

        ion-button {
            span {
                color: var(--ion-color-medium);
                padding-right: 5px;
            }
        }
    }
}
