<ion-content color="light" customScroll>

  <ion-list>

    <ion-card>

      <ion-card-header>

        <ion-card-title>Cadastre-se</ion-card-title>

      </ion-card-header>

      <ion-card-content>

        <form [formGroup]="formGroup" (ngSubmit)="save()">

          <ion-grid>

            <ion-row>

              <ion-col size-xs="12" size-sm="6">

                <ion-label class="stacked" [class.invalid]="submitAttempt && formControl.name.errors">Nome</ion-label>

                <ion-input [class.invalid]="submitAttempt && formControl.name.errors" formControlName="name" maxlength="100" enterkeyhint="go" (keyup.enter)="onEnter(input2)"></ion-input>

                <ion-note class="validation-error" *ngIf="submitAttempt && formControl.name.errors?.required">

                  <ion-icon name="information-circle-outline"></ion-icon>
                  
                  Nome é obrigatório.
                
                </ion-note>

              </ion-col>

              <ion-col size-xs="12" size-sm="6">

                <ion-label class="stacked" [class.invalid]="submitAttempt && formControl.surname.errors">Sobrenome</ion-label>

                <ion-input [class.invalid]="submitAttempt && formControl.surname.errors" formControlName="surname" maxlength="100" enterkeyhint="go" (keyup.enter)="onEnter(input3)" #input2></ion-input>

                <ion-note class="validation-error" *ngIf="submitAttempt && formControl.surname.errors?.required">

                  <ion-icon name="information-circle-outline"></ion-icon>
                  
                  Sobrenome é obrigatório.
                
                </ion-note>

              </ion-col>

              <ion-col size-xs="12" size-sm="6">

                <ion-label class="stacked" [class.invalid]="submitAttempt && formControl.email.errors">E-mail</ion-label>

                <ion-input [class.invalid]="submitAttempt && formControl.email.errors" inputmode="email" formControlName="email" maxlength="255" enterkeyhint="go" (keyup.enter)="onEnter(input4)" #input3></ion-input>
                
                <ion-note class="validation-error" *ngIf="submitAttempt && formControl.email.errors?.required">

                  <ion-icon name="information-circle-outline"></ion-icon>
                  
                  E-mail é obrigatório.
                
                </ion-note>
                
                <ion-note class="validation-error" *ngIf="submitAttempt && formControl.email.errors?.email">

                  <ion-icon name="information-circle-outline"></ion-icon>
                  
                  E-mail inválido.
                
                </ion-note>
                
              </ion-col>

              <ion-col size-xs="12" size-sm="6">

                <ion-label class="stacked" [class.invalid]="submitAttempt && formControl.phone.errors">Celular</ion-label>

                <ion-input [class.invalid]="submitAttempt && formControl.phone.errors" [brmasker]="{ phone: true }" inputmode="tel" formControlName="phone" maxlength="15" enterkeyhint="go" (keyup.enter)="onEnter(input5)" #input4></ion-input>

                <ion-note class="validation-error" *ngIf="submitAttempt && formControl.phone.errors?.required">

                  <ion-icon name="information-circle-outline"></ion-icon>
                  
                  Celular é obrigatório.
                
                </ion-note>

                <ion-note class="validation-error" *ngIf="submitAttempt && formControl.phone.errors?.minLength !== null && formControl.phone.errors?.required == undefined">

                  <ion-icon name="information-circle-outline"></ion-icon>
                  
                  Celular inválido.
                
                </ion-note>
                
              </ion-col>

              <ion-col size-xs="12" size-sm="6">

                <ion-label class="stacked" [class.invalid]="submitAttempt && formControl.password.errors">Senha</ion-label>

                <ion-input [class.invalid]="submitAttempt && formControl.password.errors" type="password" formControlName="password" enterkeyhint="go" (keyup.enter)="onEnter(input6)" #input5></ion-input>

                <ion-note class="validation-error" *ngIf="submitAttempt && formControl.password.errors?.required">

                  <ion-icon name="information-circle-outline"></ion-icon>
                  
                  Senha é obrigatório.
                
                </ion-note>
                
              </ion-col>

              <ion-col size-xs="12" size-sm="6">

                <ion-label class="stacked" [class.invalid]="submitAttempt && formControl.confirmPassword.errors">Confirmar senha</ion-label>

                <ion-input [class.invalid]="submitAttempt && formControl.confirmPassword.errors" type="password" formControlName="confirmPassword" enterkeyhint="done" (keyup.enter)="onEnter()" #input6></ion-input>

                <ion-note class="validation-error" *ngIf="submitAttempt && formControl.confirmPassword.errors?.required">

                  <ion-icon name="information-circle-outline"></ion-icon>
                  
                  Confirmação de senha é obrigatório.
                
                </ion-note>

                <ion-note class="validation-error" *ngIf="submitAttempt && formControl.confirmPassword.errors?.mustMatch">

                  <ion-icon name="information-circle-outline"></ion-icon>
                  
                  Senhas diferentes.
                
                </ion-note>
                
              </ion-col>
              
              <ion-col class="ion-margin-top" size="12">

                <ion-button type="submit" expand="block">Cadastrar</ion-button>

              </ion-col>
              
              <ion-col class="ion-text-center" size="12">

                <ion-button class="ion-no-padding" fill="clear" size="small" (click)="signin()">
                  
                  <span>Já possui cadastro?</span> Entre
                
                </ion-button>

              </ion-col>

            </ion-row>
            
          </ion-grid>

        </form>

      </ion-card-content>

    </ion-card>

  </ion-list>

</ion-content>
