<div>

  <ion-input [class.invalid]="invalid" inputmode="numeric" maxLength="1" clearOnEdit="true" [brmasker]="{ mask: '0', type: 'num', len: 1 }" (ionInput)="next(1)" (keydown)="backspace($event, 1)" (keyup)="emit()" #input1></ion-input>

  <ion-input [class.invalid]="invalid" inputmode="numeric" maxLength="1" clearOnEdit="true" [brmasker]="{ mask: '0', type: 'num', len: 1 }" (ionInput)="next(2)" (keydown)="backspace($event, 2)" (keyup)="emit()" #input2></ion-input>

  <ion-input [class.invalid]="invalid" inputmode="numeric" maxLength="1" clearOnEdit="true" [brmasker]="{ mask: '0', type: 'num', len: 1 }" (ionInput)="next(3)" (keydown)="backspace($event, 3)" (keyup)="emit()" #input3></ion-input>

  <ion-input [class.invalid]="invalid" inputmode="numeric" maxLength="1" clearOnEdit="true" [brmasker]="{ mask: '0', type: 'num', len: 1 }" (ionInput)="next(4)" (keydown)="backspace($event, 4)" (keyup)="emit()" #input4></ion-input>

  <ion-input [class.invalid]="invalid" inputmode="numeric" maxLength="1" clearOnEdit="true" [brmasker]="{ mask: '0', type: 'num', len: 1 }" (ionInput)="next(5)" (keydown)="backspace($event, 5)" (keyup)="emit()" #input5></ion-input>

</div>