<div>

  <ion-input type="number" clearOnEdit="true" [class.invalid]="invalid" (ionInput)="send($event, 1)" (ionChange)="change($event, 1)" #input1></ion-input>

  <ion-input type="number" clearOnEdit="true" [class.invalid]="invalid" (ionInput)="send($event, 2)" (ionChange)="change($event, 2)" #input2></ion-input>

  <ion-input type="number" clearOnEdit="true" [class.invalid]="invalid" (ionInput)="send($event, 3)" (ionChange)="change($event, 3)" #input3></ion-input>

  <ion-input type="number" clearOnEdit="true" [class.invalid]="invalid" (ionInput)="send($event, 4)" (ionChange)="change($event, 4)" #input4></ion-input>

  <ion-input type="number" clearOnEdit="true" [class.invalid]="invalid" (ionInput)="send($event, 5)" (ionChange)="change($event, 5)" #input5></ion-input>

</div>