<ion-header mode="ios" class="ion-no-border">

  <ion-toolbar>

    <ion-buttons slot="end">

      <ion-button class="close" color="dark" (click)="dismiss()">

        <ion-icon src="../../../../assets/icon/close.svg"></ion-icon>

      </ion-button>

    </ion-buttons>

    <ion-title>

      Cupom

    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content mode="ios">

  <ion-grid class="ion-padding" [formGroup]="formGroupVoucher">

    <ion-row>

      <ion-col size="12">

        <ion-label class="ion-no-margin">

          <p class="ion-text-justify">Defina um código para o cupom contendo somente letras e números. Seus clientes vão
            digitar este código em seu pedido para obter o desconto.</p>

        </ion-label>

      </ion-col>

      <ion-col class="ion-margin-bottom" size="12">

        <ion-label class="label-custom">Código</ion-label>

        <ion-input type="text" class="input-custom" autocapitalize="characters" formControlName="code"
          (keyup)="checkCode($event)" maxlength="40"></ion-input>

      </ion-col>

      <ion-col class="ion-margin-top" size="12">

        <ion-label class="ion-no-margin">

          <p class="ion-text-justify">Informe a quantidade de cupons que será oferecido.</p>

        </ion-label>

      </ion-col>

      <ion-col class="ion-margin-bottom" size="12">

        <ion-label class="label-custom">Quantidade</ion-label>

        <ion-input type="number" class="input-custom" formControlName="qty" min="0" max="50000"></ion-input>

      </ion-col>

      <ion-col class="ion-margin-top" size="12">

        <ion-label class="ion-no-margin">

          <p class="ion-text-justify">Informe o valor que será oferecido como desconto.</p>

        </ion-label>

      </ion-col>

      <ion-col class="ion-margin-bottom" size="12">

        <ion-label class="label-custom">Valor</ion-label>

        <ion-input type="text" class="input-custom" inputmode="numeric"
          [brmasker]="{ money: true, thousand: '.',  decimalCaracter: ',' }" formControlName="value"></ion-input>

      </ion-col>

      <ion-col class="ion-margin-top" size="12">

        <ion-label class="ion-no-margin">

          <p class="ion-text-justify">Informe o valor mínimo que o pedido precisa ter para obter o desconto.</p>

        </ion-label>

      </ion-col>

      <ion-col class="ion-margin-bottom" size="12">

        <ion-label class="label-custom">Valor mínimo</ion-label>

        <ion-input type="text" class="input-custom" inputmode="numeric" [brmasker]="{ money: true, thousand: '.',  decimalCaracter: ',' }" formControlName="min_value"></ion-input>

      </ion-col>

      <ion-col class="ion-margin-top" size="12">

        <ion-label class="ion-no-margin">

          <p class="ion-text-justify">Informe quando o cupom será expirado.</p>

        </ion-label>

      </ion-col>

      <ion-col size="8">

        <ion-label class="label-custom">Data</ion-label>

        <ion-datetime class="datetime-custom" displayFormat="D de MMMM de YYYY" displayTimezone="America/Sao_Paulo"
          cancelText="Cancelar" doneText="Confirmar" [min]="min_date" max="2050" formControlName="expiration_date"
          monthNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro">
        </ion-datetime>

      </ion-col>

      <ion-col size="4">

        <ion-label class="label-custom">Horário</ion-label>

        <ion-datetime class="datetime-custom" displayFormat="HH:mm" displayTimezone="America/Sao_Paulo" cancelText="Cancelar"
          doneText="Confirmar" formControlName="expiration_time"></ion-datetime>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer mode="ios">

  <ion-grid class="ion-padding">

    <ion-row>

      <ion-col size="12">

        <ion-button expand="block" [disabled]="formGroupVoucher.invalid"
          [color]="formGroupVoucher.valid ? 'primary' : 'light'" (click)="add()">

          Adicionar

        </ion-button>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-footer>

<ngx-loading [show]="loading"></ngx-loading>