<ion-header class="ion-no-border">

  <ion-toolbar>

    <ion-title>Link de compartilhamento</ion-title>

    <ion-buttons slot="end">

      <ion-button class="close" color="medium" (click)="dismiss()">

        <ion-icon slot="icon-only" src="../../../../assets/icon/close.svg"></ion-icon>

      </ion-button>

    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content customScroll>

  <ion-grid>

    <ion-row>

      <ion-col size="12">

        <ion-list>

          <ion-item lines="none" color="light">

            <ion-label class="ion-text-wrap">

              <h6>Regras:</h6>

              <p>Você pode usar letras, números e traços.</p>

              <p>O primeiro caractere deve ser uma letra (a - z) ou um número (0 - 9).</p>

              <p>O último caractere deve ser uma letra (a - z) ou um número (0 - 9).</p>

            </ion-label>

          </ion-item>

        </ion-list>

      </ion-col>

      <ion-col size="12">

        <ion-label class="stacked">Nome de usuário</ion-label>

        <ion-input debounce="400" [(ngModel)]="slug" (ionChange)="changeSlug($event)"></ion-input>

        <ion-note class="link">https://meupedido.org/{{ slug }}</ion-note>

        <ion-note class="validation-error" *ngIf="error">

          <ion-icon name="information-circle-outline"></ion-icon>

          {{ error }}

        </ion-note>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer>

  <ion-grid>

    <ion-row>

      <ion-col size="12">

        <ion-button expand="block" [disabled]="error || slug == company.slug" (click)="save()">Salvar</ion-button>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-footer>

<ngx-loading [show]="loading"></ngx-loading>