ion-input {
    margin-bottom: 2px;
    text-transform: lowercase;
}

ion-note {
    display: block;
    margin-top: 5px;
    font-size: 0.8rem;
    font-weight: 500;

    &.link {
        text-transform: lowercase;
    }
}

ion-label {
    h6 {
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
    }

    p {
        font-size: 0.875rem;
        margin-top: 10px;
    }

    ul {
        padding-inline-start: 15px;

        li {
            font-size: 0.875rem;
        }
    }
}
