<ion-tabs mode="md">

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">

      <ion-icon src="../../../assets/icon/home.svg"></ion-icon>

      <ion-label>Início</ion-label>

    </ion-tab-button>

    <ion-tab-button tab="orders">

      <ion-icon src="../../../assets/icon/orders.svg"></ion-icon>

      <ion-label>Pedidos</ion-label>

    </ion-tab-button>

    <ion-tab-button tab="products">

      <ion-icon src="../../../assets/icon/products.svg"></ion-icon>

      <ion-label>Produtos</ion-label>

    </ion-tab-button>

    <ion-tab-button tab="vouchers">

      <ion-icon src="../../../assets/icon/vouchers.svg"></ion-icon>

      <ion-label>Cupons</ion-label>

    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>