ion-content {
    ion-grid {
        ion-label {
            font-size: 12pt;
        }

        ion-input {
            --padding-end: 0;
            font-size: 28pt;
            font-weight: 500;
            color: var(--ion-color-primary);
            height: 44px;
        }
    }

    ion-list {
        ion-item {
            --padding-top: 10px;
            --padding-bottom: 10px;
            --padding-start: 15px;
            --inner-padding-end: 15px;
            --border-width: 0.55px 0 0.55px 0;

            ion-input {
                --padding-end: 0;
            }

            ion-label {
                h6,
                p {
                    font-size: 12pt;
                    line-height: 15pt;
                }
            }
        }
    }
}
