ion-content {
  p.input-custom {
    border-radius: 10px;
    font-size: 16px;
    padding: 15px;
    line-height: 16px;
    height: 46px;
    margin-top: -1px;
    border: 1px solid var(--ion-color-medium-tint);
  }

  p.input-custom:active {
    border-color: var(--ion-color-primary);
  }

  ion-thumbnail {
    --border-radius: 5px;
    --size: 100%;
    background: #fff;
    margin-top: 20px;

    img {
      background: #fff;
      object-fit: cover;
      height: 200px;
    }
  }

  ion-item {
    --padding-start: 15px;
    --inner-padding-end: 15px;
  }

  ion-checkbox {
    margin: 0;
  }

  ion-col.header {
    text-align: center;
    background: var(--ion-color-light-tint);

    h6 {
      font-size: 12pt;
      margin: 15px;
    }
  }

  ion-label {
    font-size: 12pt;
  }
}
