button.swal2-confirm {
  background-color: var(--ion-color-primary) !important;
  border-color: var(--ion-color-primary) !important;
  border-radius: 6px !important;
}

button.swal2-cancel {
  background-color: var(--ion-color-light) !important;
  border-color: var(--ion-color-light) !important;
  border-radius: 6px !important;
}

.swal2-icon {
  zoom: 0.65;
}

.swal2-title {
  font-size: 16pt !important;
  margin: 0 !important;
}

.swal2-content {
  font-size: 12pt !important;
  font-weight: 400 !important;
  padding: 0 15px !important;
}

.swal2-popup {
  width: 100% !important;
  padding: 0 10px !important;
}

.swal2-actions {
  margin-bottom: 20px !important;
}

.swal2-btn-desconnection {
  background: var(--ion-color-primary);
  color: #fff;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 400;
  height: 46px;
  padding: 0 0.9em;
}

.swal2-btn-desconnection:focus {
  outline: none;
}

.swal2-image-desconnection {
  margin: 0 !important;
}

.swal2-popup-desconnection {
  padding-top: 0 !important;
}
