.sc-ion-modal-md-h {
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.4);
}

.sc-ion-modal-ios-h {
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.4);
}

@media(min-width: 768px) {
    .modal-sm .modal-wrapper {
        width: 500px;
        height: 400px;
        --max-width: calc(100% - 40px);
        --max-height: calc(100% - 40px);
        --border-radius: 5px;
    }
    
    .modal-lg .modal-wrapper {
        width: 90%;
        height: 90%;
    }
}

@media(min-width: 992px) {
    .modal-lg .modal-wrapper {
        width: 800px;
        height: 80%;
    }
}


