.modal-custom .modal-wrapper {
  position: absolute;
  width: 100% !important;
  height: 93% !important;
  bottom: 0 !important;
  border-radius: 0 !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;

  ion-header {
    margin-top: 0 !important;

    ion-title {
      padding: 0;
      font-size: 12pt;
    }

    ion-button.close {
      font-size: 12pt;
    }
  }
}
