ion-item {
    --padding-start: 16px;
    --inner-padding-end: 16px;
}

ion-segment {
    width: -webkit-fill-available;
}

ion-segment-button {
    text-transform: capitalize;
    letter-spacing: normal;
    font-size: 16px;
}

ion-searchbar {
    --border-radius: 5px !important;
}

ion-button {
    &.close {
        margin-right: 6px !important;
        
        ion-icon {
            font-size: 18px !important;
        }
    }

    &.back {
        margin-left: 2px !important;

        ion-icon {
            font-size: 18px !important;
        }
    }
}

ion-card {
    margin: 16px;
}

ion-card-title {
    font-size: 16px;
}

app-choose-company {
    margin-right: 5px;
}

ion-menu-button {
    margin-left: 3px;
}

ion-note.note-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--ion-color-medium-tint);

    ion-icon {
        font-size: 28px;
    }

    p {
        margin: 5px 0 10px;
        font-size: 16px;
        font-weight: 500;
    }
}

ion-grid,
ion-col {
    padding: 8px;
}

ion-fab {
    margin: 6px;
}

ion-backdrop {
    cursor: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield !important;
}

@media (min-width: 768px) {
    ion-modal.modal-sm .modal-wrapper {
        width: 500px;
        height: 400px;
    }

    ion-modal.modal-lg .modal-wrapper {
        width: 700px;
        height: 580px;
    }

    ion-modal.modal-xl .modal-wrapper {
        width: calc(100% - 50px);
        height: calc(100% - 50px);
    }
}

@media (pointer: fine) {
    ion-content {
        ion-slides {
            ion-slide {
                &::-webkit-scrollbar {
                    width: 4px;
                }

                &::-webkit-scrollbar-track {
                    background: #fff;
                }

                &::-webkit-scrollbar-thumb {
                    background: var(--ion-color-light-shade);
                }
            }
        }
    }
}
