div.ion-scroll {
    overflow-y: auto;
    height: 100%;
}

ion-item {
    --padding-top: 8px;
    --padding-bottom: 8px;
    --padding-start: 16px;
    --inner-padding-end: 16px;
    --min-height: 0;
    --border-color: var(--ion-color-light-shade);

    &:not([lines="none"]) {
        --border-width: 0 0 1px;
    }

    ion-label {
        margin: 0;
    }
}

ion-toolbar {
    --border-color: var(--ion-color-light-shade) !important;
}

ion-segment {
    width: -webkit-fill-available;
}

ion-segment-button {
    text-transform: capitalize;
    letter-spacing: normal;
    font-size: 0.95rem;
    font-weight: 400;
}

ion-searchbar {
    --border-radius: 5px !important;
    --color: var(--ion-color-dark-tint) !important;

    input {
        font-size: 0.9375rem !important;
        font-weight: 500 !important;
    }
}

ion-radio {
    --border-width: 0.55px;
}

ion-button {
    &.close {
        margin-right: 6px !important;

        ion-icon {
            font-size: 18px !important;
        }
    }

    &.back {
        margin-left: 2px !important;

        ion-icon {
            font-size: 18px !important;
        }
    }
}

ion-card {
    margin: 16px;
}

ion-card-title {
    font-size: 16px;
}

app-choose-company {
    margin-right: 5px;
}

ion-menu-button {
    margin-left: 3px;
}

ion-note.note-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    ion-icon {
        font-size: 28px;
    }

    p {
        margin: 5px 0 10px;
        font-size: 16px;
    }
}

ion-grid {
    --ion-grid-padding: 8px;
    --ion-grid-width: 100%;

    ion-col {
        --ion-grid-column-padding: 8px;
        --ion-grid-column-padding-lg: 8px;
        --ion-grid-column-padding-md: 8px;
        --ion-grid-column-padding-sm: 8px;
        --ion-grid-column-padding-xl: 8px;
        --ion-grid-column-padding-xs: 8px;
    }
}

ion-fab {
    margin: 6px;
}

ion-backdrop {
    cursor: auto;
}

ion-popover.select-popover {
    .popover-arrow.sc-ion-popover-ios {
        display: none;
    }

    .popover-content.sc-ion-popover-ios {
        margin-top: 10px;
        border-radius: 3px;
        box-shadow: 0 0 10px var(--ion-color-medium);

        ion-item {
            --border-width: 0;
            --padding-top: 0;
            --padding-bottom: 0;
            --padding-start: 0;
            --inner-padding-end: 0;

            ion-label {
                margin: 0 16px;
                font-size: 1rem;
            }
        }
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield !important;
}

@media (min-width: 768px) {
    ion-modal.modal-sm .modal-wrapper {
        width: 500px;
        height: 400px;
    }

    ion-modal.modal-lg .modal-wrapper {
        width: 700px;
        height: 580px;
    }

    ion-modal.modal-xl .modal-wrapper {
        width: calc(100% - 50px);
        height: calc(100% - 50px);
    }
}

@media (pointer: fine) {
    .popover-content.sc-ion-popover-ios {
        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: var(--ion-color-light-shade);
        }
    }

    div.ion-scroll {
        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: var(--ion-color-light-shade);
        }
    }

    ion-content {
        ion-slides {
            ion-slide {
                &::-webkit-scrollbar {
                    width: 4px;
                }

                &::-webkit-scrollbar-track {
                    background: #fff;
                }

                &::-webkit-scrollbar-thumb {
                    background: var(--ion-color-light-shade);
                }
            }
        }
    }
}
