ion-content {
    ion-list {
        margin-bottom: 76px;

        ion-item {
            ion-thumbnail {
                width: 75px;
                height: 75px;
                margin: 10px 10px 10px 0;
                --border-radius: 5px;
            }

            h6 {
                font-size: 12pt;
                line-height: 14pt;
                margin-bottom: 5px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            p {
                font-size: 11pt;
                line-height: 13pt;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }

        ion-item:last-child {
            --border-width: 0;
        }

        div.no-product {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            text-align: center;
            color: var(--ion-color-medium);
            opacity: 0.5 !important;

            ion-icon {
                font-size: 60px;
            }

            p {
                font-size: 12pt;
            }
        }
    }
}
