<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-menu-button></ion-menu-button>

    </ion-buttons>

    <ion-title>Produtos</ion-title>

    <ion-buttons slot="end">

      <app-choose-company></app-choose-company>

    </ion-buttons>

  </ion-toolbar>

  <ion-toolbar class="animate__animated animate__fadeIn search" *ngIf="products?.length > 0">

    <ion-searchbar placeholder="Buscar produto" (ionFocus)="modalSearch()"></ion-searchbar>

  </ion-toolbar>

</ion-header>

<ion-content color="light" customScroll>

  <ion-grid *ngIf="products?.length > 0">

    <ion-row>

      <ion-col size-xs="12" size-md="6" size-xl="4" *ngFor="let product of products; let i=index">

        <ion-card class="animate__animated animate__fadeIn" button="true" (click)="options(product)">

          <ion-badge color="primary" *ngIf="!product.status">Inativo</ion-badge>

          <ion-thumbnail class="ion-float-left" [class.inactive]="!product.status">

            <img [src]="product.image">

          </ion-thumbnail>

          <ion-item lines="none">

            <ion-label>

              <p class="ion-text-wrap">{{ product.name }}</p>

              <p>{{ product.category.name }}</p>

              <p>{{ product.price | money }}</p>

            </ion-label>

          </ion-item>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-note class="note-center animate__animated animate__fadeIn" *ngIf="products?.length == 0">

    <ion-icon name="bag-handle-outline"></ion-icon>

    <p>Nenhum produto cadastrado</p>

  </ion-note>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">

    <ion-fab-button (click)="modalProduct()">

      <ion-icon name="add-outline"></ion-icon>

    </ion-fab-button>

  </ion-fab>

</ion-content>