ion-header {
    ion-toolbar.search {
        padding-top: 10px;

        ion-searchbar {
            float: left;
            width: 100%;
        }

        ion-select {
            background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.07);
            margin: 1px 12px 15px;
            height: 36px;
        }
    }
}

ion-content {
    ion-card {
        margin: 0;

        ion-badge {
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 0;
            border-bottom-left-radius: 8px;
            font-size: 10px;
            z-index: 9999999;
        }

        ion-item {
            --padding-top: 16px;
            --padding-bottom: 16px;

            ion-thumbnail {
                --border-radius: 5px;
                width: 86px;
                height: 86px;
                margin: 0 16px 0 0;
            }

            ion-label {
                margin: 0;

                p:first-child {
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 18px;
                }

                p:nth-child(2) {
                    margin: 5px 0;
                }

                p:last-child {
                    color: var(--ion-color-success);
                    font-weight: 500;
                }
            }
        }
    }
}

@media (min-width: 576px) {
    ion-header {
        ion-toolbar.search {
            padding-left: 7%;
            padding-right: 7%;

            ion-searchbar {
                width: 50%;
            }

            ion-select {
                width: calc(50% - 24px);
                float: left;
            }
        }
    }
}

@media (min-width: 768px) {
    ion-header {
        ion-toolbar.search {
            padding-left: 13%;
            padding-right: 13%;
        }
    }
}

@media (min-width: 992px) {
    ion-header {
        ion-toolbar.search {
            padding-left: 10%;
            padding-right: 10%;
        }
    }
}

@media (min-width: 1200px) {
    ion-header {
        ion-toolbar.search {
            padding-left: 20%;
            padding-right: 20%;
        }
    }
}
