<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-menu-button></ion-menu-button>

    </ion-buttons>

    <ion-title>Produtos</ion-title>

    <ion-buttons slot="end">

      <app-choose-company></app-choose-company>

    </ion-buttons>

  </ion-toolbar>

  <ion-toolbar class="search">

    <ion-searchbar placeholder="Buscar produto" [(ngModel)]="productSearch"></ion-searchbar>

    <ion-select placeholder="Categoria" [(ngModel)]="segmentSearch" interface="popover">

      <ion-select-option value="">Todas as categorias</ion-select-option>

      <ion-select-option [value]="segment.name" *ngFor="let segment of segments">{{ segment.name }}</ion-select-option>

    </ion-select>

  </ion-toolbar>

</ion-header>

<ion-content color="light" customScroll>

  <ion-grid *ngIf="products?.length > 0">

    <ion-row>

      <ion-col size-xs="12" size-md="6" size-xl="4"
        *ngFor="let product of products | filter:'name':productSearch | filter:'segment.name':segmentSearch; let i=index">

        <ion-card class="animate__animated animate__fadeIn" button="true" (click)="options(product)">

          <ion-badge color="success" *ngIf="product.status == true">Ativo</ion-badge>

          <ion-badge color="danger" *ngIf="product.status == false">Pausado</ion-badge>

          <ion-item lines="none">

            <ion-thumbnail>

              <img [src]="product.image">

            </ion-thumbnail>

            <ion-label>

              <p class="ion-text-wrap">{{ product.name }}</p>

              <p>{{ product.segment.name }}</p>

              <p>{{ product.price | money }}</p>

            </ion-label>

          </ion-item>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-note class="note-center animate__animated animate__fadeIn" *ngIf="products && (products | filter:'name':productSearch | filter:'segment.name':segmentSearch).length == 0">

    <ion-icon name="bag-handle-outline"></ion-icon>

    <p>Nenhum produto cadastrado</p>

  </ion-note>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">

    <ion-fab-button (click)="modalProduct()">

      <ion-icon name="add-outline"></ion-icon>

    </ion-fab-button>

  </ion-fab>

</ion-content>