<ion-header mode="ios">

  <ion-toolbar>

    <ion-buttons slot="end">

      <ion-button (click)="options($event)">

        <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>

      </ion-button>

    </ion-buttons>

    <ion-title>Produtos</ion-title>

  </ion-toolbar>

  <ion-toolbar mode="md" *ngIf="sessions?.length > 0">

    <ion-segment scrollable [value]="sessions[0].id" (ionChange)="segmentChanged()">

      <ion-segment-button class="animated bounceInRight" [id]="'session' + s.id" [value]="s.id"
        *ngFor="let s of sessions">

        <ion-label>{{ s.name }}</ion-label>

      </ion-segment-button>

    </ion-segment>

  </ion-toolbar>

</ion-header>

<ion-content mode="ios">

  <ion-list class="ion-no-margin" *ngIf="products?.length > 0">

    <ion-item-sliding class="animated bounceInUp" *ngFor="let p of products">

      <ion-item lines="full" button="true" detail="false" (click)="details(p.id)">

        <ion-thumbnail [ngClass]="{ 'paused': p.status == 0 }" slot="start">

          <ion-badge color="secondary">Pausado</ion-badge>

          <img [src]="p.photo">

        </ion-thumbnail>

        <ion-label class="ion-no-margin">

          <h6>{{ p.name }}</h6>

          <p>{{ p.description }}</p>

          <p class="price">{{ p.price | money }}</p>

        </ion-label>

      </ion-item>

      <ion-item-options side="end">

        <ion-item-option color="light" (click)="updateStatus(p)">

          <ion-icon slot="top" name="pause" *ngIf="p.status == 1"></ion-icon>

          <ion-icon slot="top" name="play" *ngIf="p.status == 0"></ion-icon>

          <span *ngIf="p.status == 1">Pausar</span>

          <span *ngIf="p.status == 0">Ativar</span>

        </ion-item-option>

        <ion-item-option color="danger" (click)="remove(p.id)">

          <ion-icon slot="top" name="trash-outline"></ion-icon>

          Excluir

        </ion-item-option>

      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

  <ion-grid class="no-products animated fadeIn" *ngIf="products?.length == 0">

    <ion-row>

      <ion-col class="ion-text-center" size="12">

        <ion-icon class="order" src="../../../assets/icon/product.svg"></ion-icon>

        <p>Nenhum produto cadastrado</p>

      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-fab class="animated bounceInUp" mode="md" vertical="bottom" horizontal="end" slot="fixed">

    <ion-fab-button (click)="addProduct()">

      <ion-icon name="add"></ion-icon>

    </ion-fab-button>

  </ion-fab>

</ion-content>