ion-menu ion-header {
  ion-thumbnail {
    --size: 80px;
    --border-radius: 50%;
    margin: 30px auto 10px;
  }

  h6 {
    margin: 0;
    font-size: 16px;
  }

  p {
    margin: 5px;
    font-size: 12.5px;
    color: var(--ion-color-medium-shade);
  }
}

ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
  --padding-top: 20px;
  --padding-bottom: 20px;

  ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 50px;

    ion-icon {
      font-size: 24px;
      color: var(--ion-color-dark-tint);
    }

    &.selected {
      --color: var(--ion-color-primary);

      ion-icon {
        color: var(--ion-color-primary);
      }
    }
  }
}

@media (min-width: 992px) {
  ion-menu {
    max-width: 280px;
  }
}