<ion-app>

  <ion-split-pane contentId="main-content">

    <ion-menu class="animate__animated animate__fadeIn" maxEdgeStart="0" contentId="main-content" type="push" [disabled]="true">

      <ion-header class="ion-no-border ion-text-center">

        <ion-toolbar>

          <ion-thumbnail>

            <img [src]="company?.image">

          </ion-thumbnail>

          <h6>{{ company?.name }}</h6>

          <p>{{ company?.city }} - {{ company?.uf }}</p>

        </ion-toolbar>

      </ion-header>

      <ion-content customScroll>

        <ion-list>

          <ion-menu-toggle auto-hide="false">

            <ion-item lines="none" button="true" detail="false" [class.selected]="pageActiveIndex == i"
              [disabled]="p.disabled" (click)="selectPage(i)" *ngFor="let p of pages; let i = index">

              <ion-icon slot="start" [name]="p.icon" [src]="p.icon"></ion-icon>

              <ion-label>{{ p.title }}</ion-label>

            </ion-item>

          </ion-menu-toggle>

        </ion-list>

      </ion-content>

    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>

  <ngx-loading [show]="loading"></ngx-loading>

</ion-app>