ion-button {
    height: 100px;
    color: var(--ion-color-dark);
    border: 1px dashed var(--ion-color-dark);
    width: 100%;
    border-radius: 10px;
    font-size: 13px;

    div {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        ion-icon {
            font-size: 18px;
            margin-bottom: 5px;
        }
    }

    &.invalid {
        color: var(--ion-color-danger);
        border-color: var(--ion-color-danger);
    }

    &.rounded {
        border-radius: 100%;
        width: 128px;
        height: 128px;
        font-size: 12px;
    }
}


ion-thumbnail {
    --size: 100%;
    --border-radius: 10px;
    margin: 0 auto;

    img {
        height: 128px;
    }

    &:hover {
        opacity: 0.5;
        cursor: pointer;
    }

    &.rounded {
        --size: 128px;
        border-radius: 100%;
    }
}