ion-content {
    ion-slides {
        height: initial;

        ion-slide {
            text-align: left;

            ion-list {
                width: 100%;

                ion-item-divider {
                    padding-top: 8.5px;
                    padding-bottom: 8.5px;
                    font-size: 16px;
            
                    ion-label {
                        width: 100%;
                    }
                }

                ion-item {
                    &:first-child {
                        --border-width: 0.55px 0;
                    }

                    ion-label {
                        &.price {
                            max-width: 120px;
                            margin-right: 0;
                        }

                        ion-badge {
                            margin-right: 10px;
                            margin-bottom: -5px;
                        }
                    }
                }
            }
        }
    }
}
