<ion-header class="ion-no-border" mode="ios">

  <ion-toolbar>

    <ion-title>Conta Bancária</ion-title>

    <ion-buttons slot="end">

      <ion-button class="close" color="dark" (click)="dismiss()">

        <ion-icon src="../../../../assets/icon/close.svg"></ion-icon>

      </ion-button>

    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content mode="ios">

  <ion-grid class="ion-padding" [formGroup]="formGroupBank">

    <ion-row>

      <ion-col class="ion-text-center" size="12">

        <ion-icon src="../../../../assets/icon/bank.svg"></ion-icon>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">Banco</ion-label>

        <ion-input type="text" class="input-custom" readonly="true" formControlName="bank_name" (click)="banks()">
        </ion-input>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">Agência</ion-label>

        <ion-input type="text" class="input-custom" inputmode="numeric" formControlName="bank_agency"></ion-input>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">Conta e dígito</ion-label>

        <ion-input type="text" class="input-custom" inputmode="numeric" formControlName="bank_account"></ion-input>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">Tipo de conta</ion-label>

        <ion-select class="select-custom" mode="md" interface="action-sheet" okText="Confirmar" cancelText="Cancelar"
          formControlName="bank_type_account">

          <ion-select-option [value]="1">Conta Corrente</ion-select-option>

          <ion-select-option [value]="2">Poupança</ion-select-option>

        </ion-select>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">Titular</ion-label>

        <ion-input type="text" class="input-custom" autocapitalize="on" formControlName="bank_holder_name"></ion-input>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">CPF/CNPJ</ion-label>

        <ion-input type="text" class="input-custom" inputmode="numeric" [brmasker]="{ person: true }" formControlName="bank_document_number"></ion-input>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer mode="ios">

  <ion-grid class="ion-padding">

    <ion-row>

      <ion-col size="12">

        <ion-button expand="block" [disabled]="formGroupBank.invalid"
          [color]="formGroupBank.valid ? 'primary' : 'light'" (click)="save()">

          Salvar

        </ion-button>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-footer>

<ngx-loading [show]="loading"></ngx-loading>