ion-content {
    p.date-float {
        position: fixed;
        left: 50%;
        transform: translate(-50%, 50%) !important;
        background: #fff;
        color: #222;
        padding: 2px 10px;
        border-radius: 10px;
        z-index: 99999;
    }

    ion-col.bubble-left {
        display: flex;

        ion-card {
            --background: var(--ion-color-light-tint);
            max-width: 75%;
            padding: 10px;
            border-bottom-left-radius: 0;
            margin-bottom: 0;

            p {
                margin: 0;
                color: var(--ion-color-dark);
                font-size: 11pt;
            }

            p.time {
                font-size: 9pt;
                color: var(--ion-color-medium-shade);
                text-align: right;
            }
        }
    }

    ion-col.bubble-right {
        display: flex;
        flex-direction: row-reverse;

        ion-card {
            --background: var(--ion-color-primary);
            max-width: 75%;
            padding: 10px;
            border-bottom-right-radius: 0;
            margin-bottom: 0;

            p {
                margin: 0;
                color: #fff;
                font-size: 11pt;
            }

            p.time {
                font-size: 9pt;
                color: var(--ion-color-medium);
                text-align: right;
            }
        }
    }

    ion-grid {
        ion-row:not(:first-child) {
            margin-top: 20px;
        }
    }
}

ion-footer {
    ion-textarea {
        display: inline-flex;
        margin-right: 5px;
        width: calc(100% - 51px);
    }

    ion-button {
        display: inline-flex;
        --border-radius: 50%;
        width: 46px;
        height: 46px;
        font-size: 11pt;
        margin: -10px 0 0 0;
    }
}
