<ion-header mode="ios" class="ion-no-border">

  <ion-toolbar>

    <ion-buttons slot="end">

      <ion-button class="close" (click)="dismiss()" color="dark">

        <ion-icon src="../../../../assets/icon/close.svg"></ion-icon>

      </ion-button>

    </ion-buttons>

    <ion-title>

      Detalhes

    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content mode="ios" *ngIf="order">

  <ion-list class="ion-margin-bottom">

    <ion-item lines="none">

      <ion-avatar class="ion-margin-end">

        <img src="../../../../assets/icon/avatar.svg">

      </ion-avatar>

      <ion-label>

        <h6 class="ion-text-wrap">{{ order.user_name }} {{ order.user_surname }}</h6>

      </ion-label>

      <ion-button fill="clear" href="tel:{{ order.user_phone }}">

        <ion-icon slot="icon-only" name="call-outline"></ion-icon>

      </ion-button>

      <ion-button fill="clear" (click)="chat()">

        <ion-icon slot="icon-only" name="chatbubble-outline"></ion-icon>

      </ion-button>

    </ion-item>

    <ion-item lines="none">

      <ion-label>

        <h6 class="ion-text-wrap id">Pedido Nº {{ order.id | orderCode }}</h6>

        <p class="ion-text-wrap date">{{ order.created_at | date:'d MMM yyyy' }} às
          {{ order.created_at | date:'HH:mm' }}</p>

      </ion-label>

    </ion-item>

    <ion-item lines="full" *ngIf="order.status == 4">

      <ion-label class="delivered ion-text-wrap ion-text-center">

        <ion-icon name="checkmark-circle"></ion-icon>

        <p>Pedido entregue às {{ order.delivered_at | date:'HH:mm' }}</p>

      </ion-label>

    </ion-item>

    <ion-item lines="full" *ngIf="order.status != 4">

      <ion-label>

        <p class="ion-margin-bottom">Previsão de entrega</p>

        <h6 class="time">{{ order.delivery_forecast | date:'HH:mm' }}</h6>

        <ion-progress-bar type="indeterminate"></ion-progress-bar>

        <p class="ion-text-wrap">

          <ion-icon name="ellipse"></ion-icon>

          {{ order.status | orderStatus:order.is_withdrawal_local }}

        </p>

      </ion-label>

    </ion-item>

    <ion-item lines="full" *ngFor="let product of order.products">

      <ion-label>

        <ion-grid class="ion-no-padding">

          <ion-row class="ion-no-padding">

            <ion-col size="2">

              <ion-badge color="medium">{{ product.qty }}x</ion-badge>

            </ion-col>

            <ion-col size="7">

              <h6 class="ion-text-wrap">{{ product.name }}</h6>

            </ion-col>

            <ion-col size="3" class="ion-text-right">

              <h6>{{ product.unit_price * product.qty | money }}</h6>

            </ion-col>

          </ion-row>

          <ion-row class="ion-no-padding" *ngFor="let subcomplement of product.subcomplements">

            <ion-col class="ion-padding-start" size="2">

              <ion-badge color="light">{{ subcomplement.qty }}x</ion-badge>

            </ion-col>

            <ion-col size="7">

              <p class="ion-text-wrap ion-padding-start complement">{{ subcomplement.description }}</p>

            </ion-col>

            <ion-col size="3" class="ion-text-right">

              <h6>{{ subcomplement.unit_price * subcomplement.qty | money }}</h6>

            </ion-col>

          </ion-row>

          <ion-row class="ion-padding-top" *ngIf="order.note">

            <ion-col>

              <p class="ion-text-wrap">Observação: {{ product.note }}</p>

            </ion-col>

          </ion-row>

        </ion-grid>

      </ion-label>

    </ion-item>

    <ion-item lines="full">

      <ion-label>

        <ion-grid class="ion-no-padding">

          <ion-row>

            <ion-col size="6">

              <p>Subtotal</p>

            </ion-col>

            <ion-col size="6" class="ion-text-right">

              <p>{{ order.price | money }}</p>

            </ion-col>

          </ion-row>

          <ion-row>

            <ion-col size="6">

              <p class="ion-padding-top">Taxa de entrega</p>

            </ion-col>

            <ion-col size="6" class="ion-text-right">

              <p class="ion-padding-top free" *ngIf="!order.delivery_price">Grátis</p>

              <p class="ion-padding-top" *ngIf="order.delivery_price">{{ order.delivery_price | money }}</p>

            </ion-col>

          </ion-row>

          <ion-row>

            <ion-col size="6">

              <h6 class="ion-padding-top total">Total</h6>

            </ion-col>

            <ion-col size="6" class="ion-text-right">

              <h6 class="ion-padding-top total">{{ order.amount | money }}</h6>

            </ion-col>

          </ion-row>

        </ion-grid>

      </ion-label>

    </ion-item>

    <ion-item lines="full" *ngIf="order.payment_type == 1">

      <ion-label>

        <p>Pagamento online</p>

        <h6>{{ order.payment_method_id | paymentMethod }}</h6>

      </ion-label>

      <img class="ion-margin-end" src="../../../../assets/icon/{{ order.payment_method_id | paymentMethodIcon }}" width="28">

    </ion-item>

    <ion-item lines="full" *ngIf="order.payment_type == 2">

      <ion-label>

        <p>Pagamento na entrega</p>

        <h6>{{ order.payment_method_name }}</h6>

        <h6 class="cashback" *ngIf="order.cashback">Troco para {{ order.cashback | money }}</h6>

      </ion-label>

      <img class="ion-margin-end" [src]="order.payment_method_icon" width="28">

    </ion-item>

    <ion-item lines="none">

      <ion-grid class="ion-no-padding">

        <ion-row>

          <ion-col size="8">

            <ion-label>

              <p>Endereço de entrega</p>

              <h6 class="ion-text-wrap">{{ order.address }}</h6>

            </ion-label>

          </ion-col>

        </ion-row>

      </ion-grid>

    </ion-item>

  </ion-list>

  <ion-list class="ion-margin-bottom" *ngIf="order.feedback">

    <ion-item lines="none">

      <ion-label class="ion-text-center">

        <h6>Avaliação do pedido</h6>

        <ion-icon [ngClass]="{ 'active': order.feedback > 0 }" name="star"></ion-icon>

        <ion-icon [ngClass]="{ 'active': order.feedback > 1 }" name="star"></ion-icon>

        <ion-icon [ngClass]="{ 'active': order.feedback > 2 }" name="star"></ion-icon>

        <ion-icon [ngClass]="{ 'active': order.feedback > 3 }" name="star"></ion-icon>
        
        <ion-icon [ngClass]="{ 'active': order.feedback > 4 }" name="star"></ion-icon>

      </ion-label>

    </ion-item>

  </ion-list>

</ion-content>

<ion-footer class="ion-no-border" mode="ios" *ngIf="order && order.status != 4">

  <ion-grid>

    <ion-row>

      <ion-col size="6" *ngIf="order.status == 0">

        <ion-button expand="block" (click)="accept()">

          Aceitar

        </ion-button>

      </ion-col>

      <ion-col size="6" *ngIf="order.status == 0">

        <ion-button expand="block" color="danger" (click)="refuse()">

          Recusar

        </ion-button>

      </ion-col>

      <ion-col size="12" (click)="release()" *ngIf="order.status == 1">

        <ion-button expand="block">

          Liberar Entrega

        </ion-button>

      </ion-col>

      <ion-col size="12" (click)="finalize()" *ngIf="order.status == 2 || order.status == 3">

        <ion-button expand="block">

          Finalizar Pedido

        </ion-button>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-footer>

<ngx-loading [show]="loading"></ngx-loading>