<ion-header class="ion-no-border">

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-menu-button></ion-menu-button>

    </ion-buttons>

    <ion-title>Pedidos</ion-title>

    <ion-buttons slot="end">

      <app-choose-company></app-choose-company>

    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-header>

  <ion-toolbar class="search">

    <ion-searchbar placeholder="Número, cliente, mesa"></ion-searchbar>

    <ion-searchbar placeholder="Data"></ion-searchbar>

  </ion-toolbar>

</ion-header>

<ion-header>

  <ion-toolbar mode="md">

    <ion-segment value="1">

      <ion-segment-button value="1">

        <ion-label>Em Aberto</ion-label>

      </ion-segment-button>

      <ion-segment-button value="2">

        <ion-label>Finalizado</ion-label>

      </ion-segment-button>

    </ion-segment>

  </ion-toolbar>

</ion-header>

<ion-content color="light" customScroll>

  <ion-grid>

    <ion-row>

      <ion-col size-xs="12" size-sm="6">

        <ion-card button="true" (click)="modalOrder()">
          
          <ion-list lines="none">

            <ion-item>

              <ion-label>

                <h6>12</h6>
    
                <p>Mai</p>
    
              </ion-label>
    
              <ion-label>

                <h6>
                  
                  0019

                  <span>-</span>
                  
                  Lucas Moraes
                
                </h6>

                <p>
                  
                  Mesa 1

                  <span>-</span>
                
                  R$ 10,00
                
                </p>

                <p>Status: Concluído</p>

              </ion-label>

            </ion-item>

          </ion-list>

        </ion-card>

      </ion-col>

      <ion-col size-xs="12" size-sm="6">

        <ion-card button="true" (click)="modalOrder()">
          
          <ion-list lines="none">

            <ion-item>

              <ion-label>

                <h6>12</h6>
    
                <p>Mai</p>
    
              </ion-label>
    
              <ion-label>

                <h6>
                  
                  0019

                  <span>-</span>
                  
                  Lucas Moraes
                
                </h6>

                <p>
                  
                  Mesa 1

                  <span>-</span>
                
                  R$ 10,00
                
                </p>

                <p>Status: Concluído</p>

              </ion-label>

            </ion-item>

          </ion-list>

        </ion-card>

      </ion-col>

      <ion-col size-xs="12" size-sm="6">

        <ion-card button="true" (click)="modalOrder()">
          
          <ion-list lines="none">

            <ion-item>

              <ion-label>

                <h6>12</h6>
    
                <p>Mai</p>
    
              </ion-label>
    
              <ion-label>

                <h6>
                  
                  0019

                  <span>-</span>
                  
                  Lucas Moraes
                
                </h6>

                <p>
                  
                  Mesa 1

                  <span>-</span>
                
                  R$ 10,00
                
                </p>

                <p>Status: Concluído</p>

              </ion-label>

            </ion-item>

          </ion-list>

        </ion-card>

      </ion-col>

      <ion-col size-xs="12" size-sm="6">

        <ion-card button="true" (click)="modalOrder()">
          
          <ion-list lines="none">

            <ion-item>

              <ion-label>

                <h6>12</h6>
    
                <p>Mai</p>
    
              </ion-label>
    
              <ion-label>

                <h6>
                  
                  0019

                  <span>-</span>
                  
                  Lucas Moraes
                
                </h6>

                <p>
                  
                  Mesa 1

                  <span>-</span>
                
                  R$ 10,00
                
                </p>

                <p>Status: Concluído</p>

              </ion-label>

            </ion-item>

          </ion-list>

        </ion-card>

      </ion-col>

      <ion-col size-xs="12" size-sm="6">

        <ion-card button="true" (click)="modalOrder()">
          
          <ion-list lines="none">

            <ion-item>

              <ion-label>

                <h6>12</h6>
    
                <p>Mai</p>
    
              </ion-label>
    
              <ion-label>

                <h6>
                  
                  0019

                  <span>-</span>
                  
                  Lucas Moraes
                
                </h6>

                <p>
                  
                  Mesa 1

                  <span>-</span>
                
                  R$ 10,00
                
                </p>

                <p>Status: Concluído</p>

              </ion-label>

            </ion-item>

          </ion-list>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>