<ion-header mode="ios">

  <ion-toolbar>

    <ion-title>Pedidos</ion-title>

    <ion-buttons slot="end">

      <ion-button (click)="options($event)">

        <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>

      </ion-button>

    </ion-buttons>

  </ion-toolbar>

  <ion-toolbar mode="md">

    <ion-segment scrollable value="requests">

      <ion-segment-button class="animated bounceInRight" id="requests" value="requests"
        (click)="changeSegment('requests')">

        <ion-label>Solicitações</ion-label>

      </ion-segment-button>

      <ion-segment-button class="animated bounceInRight" id="running" value="running"
        (click)="changeSegment('running')">

        <ion-label>Em Andamento</ion-label>

      </ion-segment-button>

      <ion-segment-button class="animated bounceInRight" id="delivering" value="delivering"
        (click)="changeSegment('delivering')">

        <ion-label>Entregando</ion-label>

      </ion-segment-button>

      <ion-segment-button class="animated bounceInRight" id="completed" value="completed"
        (click)="changeSegment('completed')">

        <ion-label>Finalizados</ion-label>

      </ion-segment-button>

    </ion-segment>

  </ion-toolbar>

</ion-header>

<ion-content mode="ios">

  <ion-refresher mode="md" slot="fixed" (ionRefresh)="refresh($event)">

    <ion-refresher-content></ion-refresher-content>

  </ion-refresher>

  <ion-list class="ion-margin-top animated bounceInUp" *ngIf="orders?.length > 0">

    <ion-card button="true" *ngFor="let order of orders">

      <ion-card-header (click)="details(order.id)">

        <ion-grid class="ion-no-padding">

          <ion-row>

            <ion-col class="ion-margin-bottom" size="12">

              <p class="sm">Realizado em</p>

              <h6>{{ order.created_at | date:'d MMM yyyy' }} às {{ order.created_at | date:'HH:mm' }}</h6>

            </ion-col>

            <ion-col size="12">

              <ion-item lines="none">

                <ion-thumbnail>

                  <img src="../../../assets/icon/order.svg">

                </ion-thumbnail>

                <ion-label class="ion-no-margin">

                  <h6>Pedido Nº {{ order.id | orderCode }}</h6>

                  <p>

                    <ion-icon name="ellipse"></ion-icon>

                    <span class="info">{{ order.user_name }} {{ order.user_surname }}</span>

                  </p>

                  <p>

                    <ion-icon name="ellipse"></ion-icon>

                    <span class="info" *ngIf="order.is_withdrawal_local">Retirar no local</span>

                    <span class="info"
                      *ngIf="!order.is_withdrawal_local">{{ distance(order.latitude, order.longitude) | distance }}</span>

                    <ion-icon name="ellipse"></ion-icon>

                    <span class="info">{{ order.delivery_forecast | date:'HH:mm' }}</span>

                  </p>

                </ion-label>

              </ion-item>

            </ion-col>

          </ion-row>

        </ion-grid>

      </ion-card-header>

      <ion-card-content *ngIf="order.status != 4">

        <ion-grid class="ion-no-padding">

          <ion-row>

            <ion-col size="6" *ngIf="order.status == 0">

              <ion-button size="small" expand="block" (click)="accept(order)">

                Aceitar

              </ion-button>

            </ion-col>

            <ion-col size="6" *ngIf="order.status == 0">

              <ion-button size="small" expand="block" color="danger" (click)="refuse(order)">

                Recusar

              </ion-button>

            </ion-col>

            <ion-col size="12" *ngIf="order.status == 1">

              <ion-button size="small" expand="block" (click)="release(order)">

                Liberar Entrega

              </ion-button>

            </ion-col>

            <ion-col size="12" *ngIf="order.status == 2">

              <ion-progress-bar class="ion-margin-bottom" type="indeterminate"></ion-progress-bar>

              <p>

                <ion-icon name="ellipse"></ion-icon>

                <span class="info" *ngIf="order.is_withdrawal_local">Aguardando Retirada</span>

                <span class="info" *ngIf="!order.is_withdrawal_local">Aguardando Entregador</span>

              </p>

            </ion-col>

            <ion-col size="12" *ngIf="order.status == 3">

              <ion-progress-bar class="ion-margin-bottom" type="indeterminate"></ion-progress-bar>

              <p>

                <ion-icon name="ellipse"></ion-icon>

                <span class="info">Em Entrega</span>

              </p>

            </ion-col>

          </ion-row>

        </ion-grid>

      </ion-card-content>

    </ion-card>

  </ion-list>

  <ion-grid class="no-orders animated bounceInUp" *ngIf="orders?.length == 0">

    <ion-row>

      <ion-col class="ion-text-center" size="12">

        <ion-icon class="order" src="../../../assets/icon/order.svg"></ion-icon>

        <p *ngIf="segment == 'requests'">Nenhuma pedido solicitado</p>

        <p *ngIf="segment == 'running'">Nenhum pedido em andamento</p>

        <p *ngIf="segment == 'delivering'">Nenhum pedido em entrega</p>

        <p *ngIf="segment == 'completed'">Nenhum pedido finalizado</p>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>