ion-header {
    ion-toolbar.search {
        padding: 0 calc(25% - 40px);

        ion-searchbar {
            padding-bottom: 10px;
            float: left;

            &:first-child {
                width: 50%;
            }

            &:last-child {
                width: 50%;
            }
        }
    }
}

ion-content {
    ion-grid {
        padding: 8px;

        ion-col {
            padding: 0;
        }
    }

    ion-card {
        ion-item {
            ion-label {
                h6 {
                    font-weight: 500;
                    font-size: 16px;
                }

                p {
                    color: var(--ion-color-medium);
                }

                span {
                    margin: 0 5px;
                }
                
                &:first-child {
                    background: #F2F2F2;
                    max-width: 54px;
                    border-radius: 8px;
                    text-align: center;
                    padding: 5px 0;
                    margin-right: 16px;

                    h6 {
                        font-weight: 500;
                        font-size: 18px;
                        margin: 0;
                    }

                    p {
                        font-size: 16px;
                        color: var(--ion-color-medium);
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    ion-header {
        ion-toolbar.search {
            padding: 10px;

            ion-searchbar {                
                &:first-child {
                    width: 100%;
                }
    
                &:last-child {
                    width: 100%;
                }
            }
        }
    }
}
