ion-header {
    ion-toolbar.search {
        padding-top: 10px;
        
        ion-searchbar {
            &:first-child {
                width: 100%;
            }

            &:last-child {
                width: 100%;
            }
        }
    }
}

ion-content {
    ion-card {
        margin: 0;

        ion-item {
            --padding-top: 16px;
            --padding-bottom: 16px;

            ion-badge {
                --padding-top: 8px;
                --padding-bottom: 8px;
                --padding-start: 12px;
                --padding-end: 12px;

                h6 {
                    font-size: 1.125rem;
                    font-weight: 500;
                    color: var(--ion-color-dark);
                    margin: 0;
                }

                p {
                    font-size: 1rem;
                    font-weight: 400;
                    color: var(--ion-color-medium);
                    margin: 0;
                }
            }

            ion-label {
                h6 {
                    font-size: 1rem;
                    margin: 0;

                    ion-icon {
                        font-size: 0.95rem;
                        margin-bottom: -2px;
                    }
                }

                p {
                    font-size: 0.9rem;
                    line-height: 1.225rem;
                    color: var(--ion-color-dark-tint);
                    margin: 0;

                    &.price {
                        color: var(--ion-color-success);
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) {
    ion-header {
        ion-toolbar.search {
            padding-left: 7%;
            padding-right: 7%;

            ion-searchbar {
                float: left;

                &:first-child {
                    width: 60%;
                }

                &:last-child {
                    width: 40%;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    ion-header {
        ion-toolbar.search {
            padding-left: 13%;
            padding-right: 13%;

            ion-searchbar {
                float: left;

                &:first-child {
                    width: 65%;
                }

                &:last-child {
                    width: 35%;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    ion-header {
        ion-toolbar.search {
            padding-left: 10%;
            padding-right: 10%;
        }
    }
}

@media (min-width: 1200px) {
    ion-header {
        ion-toolbar.search {
            padding-left: 20%;
            padding-right: 20%;
        }
    }
}