ion-content {
    --background: var(--ion-color-light-tint);

    ion-card {
        margin-top: 10px !important;

        p.sm {
            font-size: 10pt;
            line-height: 11pt;
        }

        h6 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--ion-color-dark);
            font-size: 12pt;
            line-height: 18pt;
            margin: 0;
        }

        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12pt;
            line-height: 17pt;
            margin: 0;
        }

        ion-button {
            font-size: 17px;
            font-weight: 400;
        }

        span.info {
            margin-right: 8px;
        }

        ion-icon[name="ellipse"] {
            font-size: 6pt;
            margin-right: 8px;
            color: var(--ion-color-primary);
            margin-bottom: 1.25px;
        }
    }

    ion-row.no-orders {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;

        ion-icon {
            font-size: 60px;
        }
    }
}
