<ion-header mode="ios">

  <ion-toolbar class="ion-margin-bottom">

    <ion-buttons slot="end">

      <ion-button class="close" (click)="dismiss()">

        <ion-icon src="../../../assets/icon/close.svg"></ion-icon>

      </ion-button>

    </ion-buttons>

    <ion-title>Bancos</ion-title>

  </ion-toolbar>

  <ion-toolbar class="animated fadeInDown">

    <ion-searchbar placeholder="Pesquisar" [(ngModel)]="search" (ionChange)="doSearch()"></ion-searchbar>

  </ion-toolbar>

</ion-header>

<ion-content mode="ios">

  <ion-list class="animated bounceInUp">

    <ion-item lines="full" button="true" detail="true" (click)="select(result)" *ngFor="let result of results">

      <ion-label>{{ result.code }} - {{ result.name }}</ion-label>

    </ion-item>

  </ion-list>

</ion-content>

<ngx-loading [show]="loading"></ngx-loading>