ion-content {
    ion-card {
        margin: 0;

        &:not(:first-child) {
            margin-top: 16px;
        }

        &.chart {
            padding: 28px 16px;
        }

        ion-card-header {
            padding: 16px;

            ion-card-title {
                font-size: 1rem;
                font-weight: 600;
            }

            ion-button.all-orders {
                position: absolute;
                top: 50%;
                right: 8px;
                transform: translateY(-50%);
            }
        }

        ion-card-content {
            &:not(.ion-no-padding) {
                padding: 16px;
            }

            ion-list {
                overflow-x: auto;
            }

            ion-item {
                &[lines="full"] {
                    --border-width: 0.55px 0 0;
                }

                &.status {
                    --min-height: 96px;

                    ion-label {
                        font-size: 1rem;
                        font-weight: 600;
                        max-width: 71px;
                    }

                    img {
                        width: 80px;
                    }

                    ion-badge {
                        font-size: 1rem;
                        font-weight: 500;
                        margin-bottom: -4px;
                    }
                }

                &.balance {
                    --min-height: 60px;

                    h6 {
                        font-size: 1.5rem;
                    }

                    p {
                        font-size: 1rem;
                        font-weight: 500;
                    }
                }

                &.order {
                    min-width: 424px;

                    ion-icon {
                        font-size: 22px;
                    }

                    h6 {
                        font-size: 1rem;
                        margin: 0;

                        ion-icon {
                            font-size: 0.95rem;
                            margin-bottom: -2px;
                        }
                    }

                    p {
                        font-size: 0.9rem;
                    }

                    ion-badge {
                        font-size: 0.8rem;
                        font-weight: 500;
                    }

                    ion-label:first-child {
                        min-width: 180px;
                    }
                }
            }

            input.link {
                text-align: center;
                font-size: 0.9rem !important;
                height: 35px;
                background: var(--ion-color-light-shade);
                color: var(--ion-color-dark);
                font-weight: 700 !important;
                width: calc(100% - 32px);
                margin: 0 16px 16px;
                padding-left: 10px;
                padding-right: 10px;
                border: none;
                border-radius: 5px;
                outline: none;
                cursor: pointer;
            }
        }
    }
}
