<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-menu-button></ion-menu-button>

    </ion-buttons>

    <ion-title>Início</ion-title>

    <ion-buttons slot="end">

      <app-choose-company></app-choose-company>

    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content color="light" customScroll>

  <ion-grid>

    <ion-row>

      <ion-col size-xs="12" size-sm="4" *ngIf="company">

        <ion-card class="animate__animated animate__fadeIn">

          <ion-card-content class="ion-no-padding">

            <ion-list>

              <ion-item lines="none">

                <ion-label>

                  <p>Status:</p>

                  <ion-badge class="status" color="primary" *ngIf="company.open">Aberto</ion-badge>

                  <ion-badge class="status" color="medium" *ngIf="!company.open">Fechado</ion-badge>
                
                </ion-label>

                <ion-toggle [checked]="company.open" (ionChange)="changeOpen($event)"></ion-toggle>

              </ion-item>

            </ion-list>

          </ion-card-content>

        </ion-card>

        <ion-card class="animate__animated animate__fadeIn" button="true" color="primary">

          <ion-card-header>

            <ion-card-title>Saldo disponível</ion-card-title>

          </ion-card-header>

          <ion-card-content class="ion-no-padding">

            <ion-list>

              <ion-item class="balance" lines="none" color="primary">

                <ion-label>

                  <h6>{{ company.balance | money }}</h6>

                  <p>Pagamentos online</p>

                </ion-label>

              </ion-item>

            </ion-list>

          </ion-card-content>

        </ion-card>

        <ion-card class="chart">

          <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [roundEdges]="false"
            [xAxis]="true" [yAxis]="false" (select)="onSelect($event)" *ngIf="view?.length > 0">
          </ngx-charts-bar-vertical>

        </ion-card>

        <ion-card button="true" (click)="share()">

          <ion-card-header>

            <ion-card-title class="ion-text-center">Link de compartilhamento</ion-card-title>

          </ion-card-header>

          <ion-card-content class="ion-no-padding">

            <input class="link" [value]="siteUrl + '/' + company.slug" readonly>

          </ion-card-content>

        </ion-card>

      </ion-col>

      <ion-col size-xs="12" size-sm="8">

        <ion-card>

          <ion-card-header>

            <ion-card-title class="ion-text-center">Últimos pedidos</ion-card-title>

          </ion-card-header>

          <ion-card-content class="ion-no-padding">

            <ion-list>

              <!-- <ion-item lines="full" detail="true" button="true">

                <ion-icon slot="start" src="../../../assets/icon/order.svg"></ion-icon>

                <ion-label>

                  <h6>Pedido 0019</h6>

                  <p>Lucas Moraes Campos</p>

                  <ion-badge color="medium">Aguardando aprovação</ion-badge>

                </ion-label>

                <ion-label class="ion-text-center">

                  <h6>R$ 10,00</h6>

                  <p>Hoje às 20:00</p>

                </ion-label>

              </ion-item>

              <ion-item lines="full" detail="true" button="true">

                <ion-icon slot="start" src="../../../assets/icon/order.svg"></ion-icon>

                <ion-label>

                  <h6>Pedido 0018</h6>

                  <p>Pedro Pacheco Costa</p>

                  <ion-badge color="primary">Em andamento</ion-badge>

                </ion-label>

                <ion-label class="ion-text-center">

                  <h6>R$ 102,00</h6>

                  <p>Hoje às 19:00</p>

                </ion-label>

              </ion-item>

              <ion-item lines="full" detail="true" button="true">

                <ion-icon slot="start" src="../../../assets/icon/order.svg"></ion-icon>

                <ion-label>

                  <h6>Pedido 0017</h6>

                  <p>Mateus Moraes Marim</p>

                  <ion-badge color="danger">Recusado</ion-badge>

                </ion-label>

                <ion-label class="ion-text-center">

                  <h6>R$ 12,00</h6>

                  <p>Hoje às 18:00</p>

                </ion-label>

              </ion-item>

              <ion-item lines="full" detail="true" button="true">

                <ion-icon slot="start" src="../../../assets/icon/order.svg"></ion-icon>

                <ion-label>

                  <h6>Pedido 0017</h6>

                  <p>Mateus Moraes Marim</p>

                  <ion-badge color="danger">Recusado</ion-badge>

                </ion-label>

                <ion-label class="ion-text-center">

                  <h6>R$ 12,00</h6>

                  <p>Hoje às 18:00</p>

                </ion-label>

              </ion-item>

              <ion-item lines="full" detail="true" button="true">

                <ion-icon slot="start" src="../../../assets/icon/order.svg"></ion-icon>

                <ion-label>

                  <h6>Pedido 0017</h6>

                  <p>Mateus Moraes Marim</p>

                  <ion-badge color="danger">Recusado</ion-badge>

                </ion-label>

                <ion-label class="ion-text-center">

                  <h6>R$ 12,00</h6>

                  <p>Hoje às 18:00</p>

                </ion-label>

              </ion-item>

              <ion-item class="see-all" lines="full" detail="false" button="true">

                <ion-label color="primary">Ver todos os pedidos</ion-label>

              </ion-item> -->

              <ion-item class="ion-padding-bottom" lines="none">

                <ion-label class="ion-text-center">
                  
                  <ion-icon src="../../../assets/icon/order.svg"></ion-icon>

                  <p>Nenhum pedido recebido</p>
                
                </ion-label>
  
              </ion-item>

            </ion-list>

          </ion-card-content>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>