ion-content {
    ion-card {
        margin: 0;

        &:not(:first-child) {
            margin-top: 16px;
        }

        &.chart {
            padding: 16px;
        }

        ion-card-header {
            padding: 16px;

            ion-card-title {
                font-size: 1rem;
                font-weight: 600;
            }
        }

        ion-card-content {
            &:not(.ion-no-padding) {
                padding: 16px;
            }
            
            ion-item {
                &[lines="full"]  {
                    --border-width: 0.55px 0 0;
                }

                &.balance {
                    --min-height: 60px;
                    
                    h6 {
                        font-size: 1.5rem;
                    }

                    p {
                        font-weight: 500;
                    }
                }

                &.see-all {
                    text-align: center;
                    font-weight: 500;
                    font-size: 1rem;
                }

                ion-label {
                    h6 {
                        font-size: 20px;
                        font-weight: 500;
                    }
                }

                ion-badge {
                    font-size: 11px;
                    font-weight: 500;
                    margin-top: 2px;

                    &.status {
                        font-size: 1rem;
                    }
                }

                ion-toggle {
                    --handle-height: 22px;
                    --handle-width: 22px;
                    height: 26px;
                }
            }

            input.link {
                text-align: center;
                font-size: 0.9rem !important;
                height: 35px;
                background: var(--ion-color-light-shade);
                color: var(--ion-color-dark);
                font-weight: 700 !important;
                width: calc(100% - 32px);
                margin: 0 16px 16px;
                padding-left: 10px;
                padding-right: 10px;
                border: none;
                border-radius: 5px;
                outline: none;
                cursor: pointer;
            }
        }
    }
}
