<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-button>

        <ion-icon slot="icon-only" name="print-outline"></ion-icon>

      </ion-button>

    </ion-buttons>

    <ion-title>Pedido 0001</ion-title>

    <ion-buttons slot="end">

      <ion-button (click)="dismiss()">

        <ion-icon slot="icon-only" name="close"></ion-icon>

      </ion-button>

    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content customScroll>

  <ion-list>

    <ion-item lines="full">

      <ion-label class="ion-text-wrap">

        <span>1x</span>

        <b>Açai premium duplo 500ml</b>

      </ion-label>

    </ion-item>

    <ion-item lines="full">

      <ion-label class="ion-text-wrap">

        <span>1x</span>

        <b>Açai premium duplo 500ml</b>

      </ion-label>

    </ion-item>

  </ion-list>

</ion-content>

<!-- <ion-footer class="ion-no-border">

  <ion-grid class="ion-padding">

    <ion-row>

      <ion-col size="12">

        <ion-button expand="block">Salvar</ion-button>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-footer> -->