<ion-header class="ion-no-border" mode="ios">

  <ion-toolbar>

    <ion-title>

      Complemento

    </ion-title>

    <ion-buttons slot="end">

      <ion-button class="close" (click)="dismiss()">

        <ion-icon src="../../../assets/icon/close.svg"></ion-icon>

      </ion-button>

    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content mode="ios">

  <ion-grid class="ion-padding" [formGroup]="formGroupComplement">

    <ion-row>

      <ion-col size="12">

        <ion-label class="label-custom">Título</ion-label>

        <ion-input class="input-custom" type="text" formControlName="title"
          placeholder="Escreva o título do complemento"></ion-input>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">Obrigatório</ion-label>

        <ion-select class="select-custom" mode="md" formControlName="is_required" interface="action-sheet"
          placeholder="Complemento obrigatório?" okText="Confirmar" cancelText="Cancelar">

          <ion-select-option value="1">Sim</ion-select-option>

          <ion-select-option value="0">Não</ion-select-option>

        </ion-select>

      </ion-col>

      <ion-col class="animated fadeIn" size="12" *ngIf="formGroupComplement.value.is_required == 1">

        <ion-label class="label-custom">Quantidade Mínima</ion-label>

        <ion-input class="input-custom" type="number" formControlName="qty_min" placeholder="Qtd. mínima de itens">
        </ion-input>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">Quantidade Máxima</ion-label>

        <ion-input class="input-custom" type="number" formControlName="qty_max" placeholder="Qtd. máxima de itens">
        </ion-input>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer mode="ios">

  <ion-grid class="ion-padding">

    <ion-row>

      <ion-col size="12">

        <ion-button class="add" expand="block" [color]="formGroupComplement.valid ? 'primary' : 'light'"
          [disabled]="formGroupComplement.invalid ? true : false" (click)="update()">

          Atualizar

        </ion-button>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-footer>

<ngx-loading [show]="loading"></ngx-loading>