ion-header {
    ion-title {
        font-size: 12pt;
        text-transform: uppercase;
        font-weight: 400;
    }
}

ion-content {
    ion-button.add {
        margin: 0;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}
