<ion-header class="ion-no-border" mode="ios">

  <ion-toolbar>

    <ion-title>

      Item

    </ion-title>

    <ion-buttons slot="end">

      <ion-button class="close" (click)="dismiss()">

        <ion-icon src="../../../assets/icon/close.svg"></ion-icon>

      </ion-button>

    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content mode="ios">

  <ion-grid class="ion-padding" [formGroup]="formGroupSubcomplement">

    <ion-row>

      <ion-col size="12">

        <ion-label class="label-custom">Descrição</ion-label>

        <ion-textarea class="input-custom" formControlName="description" placeholder="Descreva o produto">
        </ion-textarea>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom" [hidden]="isNoPrice">Preço</ion-label>

        <ion-input class="input-custom" type="text" inputmode="numeric" formControlName="price"
          [brmasker]="{ money: true, thousand: '.',  decimalCaracter: ',' }" [hidden]="isNoPrice"></ion-input>

      </ion-col>

      <ion-col size="12">

        <ion-item class="ion-no-padding" lines="none">

          <ion-checkbox mode="md" color="primary" [checked]="isNoPrice" (ionChange)="checkPrice($event)"></ion-checkbox>

          <ion-label>Grátis</ion-label>

        </ion-item>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer mode="ios">

  <ion-grid class="ion-padding">

    <ion-row>

      <ion-col size="12">

        <ion-button expand="block" (click)="add()">
          
          Adicionar

        </ion-button>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-footer>