ion-content {
    ion-card {
        height: 100%;
        text-align: center;
        padding: 10px 0;
        
        ion-icon {
            font-size: 20pt;
        }

        h6 {
            margin-top: 5px;
            font-size: 10pt;
            line-height: 12pt;
        }

        ion-card-header {
            padding: 0;
        }

        ion-card-content {
            padding: 0 10px;
        }
    }
}
