ion-header {
    ion-toolbar.search {
        padding: 0 calc(30% - 20px);

        ion-searchbar {
            padding-bottom: 10px;
            width: 100%;
        }
    }
}

ion-content {
    ion-grid {
        padding: 8px;

        ion-col {
            padding: 16px;
        }
    }

    ion-card {
        margin: 0;

        ion-badge {
            position: absolute;
            top: 40.5px;
            left: 21.07px;
            z-index: 99999;
        }

        ion-thumbnail {
            --size: 100px;

            &.inactive {
                background: rgba(0, 0, 0, 0.4);
                
                img {
                    opacity: 0.4;
                }
            }
        }

        ion-label {
            margin: 10px 0;

            p:first-child {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                font-weight: bold;
                font-size: 16px;
                line-height: 18px;
                height: 36px;
            }

            p:nth-child(2) {
                margin: 5px 0;
            }

            p:last-child {
                color: var(--ion-color-success);
                font-weight: 500;
            }
        }
    }
}

@media (max-width: 600px) {
    ion-header {
        ion-toolbar.search {
            padding: 10px;
        }
    }
}
