<ion-header class="ion-no-border">

  <ion-toolbar>

    <ion-title>Complementos</ion-title>

    <ion-buttons slot="end">

      <ion-button (click)="dismiss()">

        <ion-icon slot="icon-only" name="close"></ion-icon>

      </ion-button>

    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content customScroll>

  <ion-note class="note-center animate__animated animate__fadeIn">

    <ion-icon name="add-circle-outline"></ion-icon>

    <p>Nenhum complemento cadastrado</p>

  </ion-note>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">

    <ion-fab-button (click)="modalComplement()">

      <ion-icon name="add-outline"></ion-icon>

    </ion-fab-button>

  </ion-fab>

</ion-content>