<ion-header class="ion-no-border" mode="ios">

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-back-button text=""></ion-back-button>

    </ion-buttons>

    <ion-title>

      <img src="../../../assets/images/logo.png">

    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content mode="ios">

  <ion-grid class="ion-padding" [formGroup]="formGroupLogin">

    <ion-row>

      <ion-col size="12">

        <h4>Entre com os dados da empresa</h4>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">E-mail</ion-label>

        <ion-input class="input-custom" type="email" formControlName="email"></ion-input>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">Senha</ion-label>

        <ion-input class="input-custom passwd" [type]="eye ? 'text' : 'password'" formControlName="password"
          maxlength="8" #passwd>

          <ion-buttons>

            <ion-button buttonType="reset" (click)="changeEye(passwd)">

              <ion-icon slot="icon-only" name="eye-outline" [hidden]="eye"></ion-icon>

              <ion-icon slot="icon-only" name="eye-off-outline" [hidden]="!eye"></ion-icon>

            </ion-button>

          </ion-buttons>

        </ion-input>

      </ion-col>

      <ion-col size="12">

        <ion-button class="send" expand="block" (click)="login()" [disabled]="formGroupLogin.invalid"
          [color]="formGroupLogin.valid ? 'primary' : 'light'">

          <ion-spinner mode="md" name="crescent" [hidden]="!spinner"></ion-spinner>

          <span [hidden]="spinner">Entrar</span>

        </ion-button>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>