<ion-header class="ion-no-border ion-text-center">

  <ion-toolbar>

    <ion-thumbnail>

      <img [src]="user.image ? user.image : '../../../../assets/image/avatar.png'">

    </ion-thumbnail>

    <h6>{{ user.name }}</h6>

    <p>{{ user.email }}</p>

    <ion-button size="small" fill="outline" shape="round" (click)="managerCompanies()">
      
      <ion-icon slot="start" name="storefront-outline"></ion-icon> Empresas
    
    </ion-button>

    <ion-button class="logout" size="small" fill="clear" (click)="logout()">

      <ion-icon slot="start" name="log-out-outline"></ion-icon> Sair

    </ion-button>

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list>

    <ion-item [class.current]="company.id == current.id" lines="none" [button]="company.id != current.id" detail="false"
      (click)="enterCompany(company)" *ngFor="let company of companies">

      <ion-avatar slot="start">

        <img [src]="company.image">

      </ion-avatar>

      <ion-label>

        <h6>{{ company.name }}</h6>

        <p>{{ company.city }} - {{ company.uf }}</p>

      </ion-label>

    </ion-item>

  </ion-list>

</ion-content>