ion-content {
    ion-grid {
        margin-top: 20px;

        p {
            font-size: 12pt;
        }

        p.ion-text-justify {
            margin-top: 50px;
        }

        ion-icon {
            font-size: 60pt;
        }

        ion-button {
            margin-top: 40px;
        }

        span.sufix {
            position: absolute;
            right: 15px;
            color: var(--ion-color-medium-tint);
        }
    }
}
