<ion-menu side="start" menuId="first" contentId="content" mode="ios">

  <ion-content>

    <ion-thumbnail>

      <img [src]="company?.photo">

    </ion-thumbnail>

    <h6>{{ company?.name }}</h6>

    <ion-list class="ion-padding" lines="full">

      <ion-menu-toggle auto-hide="true">

        <ion-item button="true" detail="false" (click)="settings()">

          <ion-icon slot="start" name="settings-outline"></ion-icon>

          <ion-label>Configurações</ion-label>

        </ion-item>

        <ion-item button="true" detail="false" (click)="location()">

          <ion-icon slot="start" name="location-outline" color="dark"></ion-icon>

          <ion-label>Localização</ion-label>

        </ion-item>

        <ion-item button="true" detail="false" (click)="delivers()">

          <ion-icon slot="start" name="person-outline" color="dark"></ion-icon>

          <ion-label>Entregadores</ion-label>

        </ion-item>

        <ion-item (click)="logout()" button="true" detail="false">

          <ion-icon slot="start" name="log-out-outline" color="dark"></ion-icon>

          <ion-label>Sair</ion-label>

        </ion-item>

      </ion-menu-toggle>

    </ion-list>

  </ion-content>

</ion-menu>