ion-content {
    ion-grid {
        padding: 10px;
    }

    ion-card {
        ion-card-content {
            ion-icon {
                font-size: 40px;
                margin-top: 5px;
            }

            ion-card-subtitle {
                font-size: 16px;
            }

            ion-badge {
                font-size: 12px;
            }
        }
    }
}
