<ion-header>

  <ion-toolbar>
    
    <ion-buttons slot="start">

      <ion-menu-button></ion-menu-button>

    </ion-buttons>

    <ion-title>Mesas</ion-title>

    <ion-buttons slot="end">

      <app-choose-company></app-choose-company>

    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content color="light" customScroll>

  <ion-grid *ngIf="tables?.length > 0">

    <ion-row>

      <ion-col class="ion-no-padding" size-xs="6" size-sm="3" *ngFor="let table of tables">

        <ion-card class="animate__animated animate__fadeIn ion-text-center" button="true" (click)="options(table)">

          <ion-card-content>

            <ion-icon src="../../../assets/icon/table.svg" color="dark"></ion-icon>

            <ion-card-subtitle color="dark">{{ table.name }}</ion-card-subtitle>

            <ion-badge *ngIf="table.status == 1">Ocupada</ion-badge>

            <ion-badge color="dark" *ngIf="table.status == 0">Vazia</ion-badge>

          </ion-card-content>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-note ion-note class="note-center animate__animated animate__fadeIn" *ngIf="tables?.length == 0">

    <ion-icon src="../../../assets/icon/table.svg"></ion-icon>

    <p>Nenhuma mesa cadastrada</p>

  </ion-note>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">

    <ion-fab-button (click)="modalTable()">

      <ion-icon name="add-outline"></ion-icon>

    </ion-fab-button>

  </ion-fab>

</ion-content>